[2021-10-25 12:30] Flauer741 opened #1 "Rasperry Pi example does not work as is"
First: Thanks for the great effort to bring flutter to embedded devices.

I tried to build & run the example for the raspberry-pi 4 given in the README and ran into some issues:

First I did not know how to actually run the flutter-gallery. It would be nice to add this to the readme:

[code]

When running this, flutter-pi was unable to enumerate the DRI devices. The reason was that all kernel modu

[2021-11-03 03:32] jwinarske commented on #1
Thanks for reporting this.  I think the delta is that all my notes are around Wayland Yocto builds, and I don't do much smoke testing on flutter-pi (DRM).   I'll make a point of updating the readme and adding changes for a stripped RPI4 DRM build.

[2021-11-04 00:31] jwinarske opened #4 "Honister Runtime=Debug flutter-engine build break"
[code]

[2021-11-04 00:35] jwinarske commented on #4
This combo builds fine:

[code]

[2021-11-04 01:12] jwinarske commented on #1
First successful honister rpi4-64 CI job is publishing artifacts here: https://github.com/meta-flutter/meta-flutter/actions/runs/1419261815

Found issue when building `honister` for debug image: https://github.com/meta-flutter/meta-flutter/issues/4

The build artifacts are runtime=release.  I haven't smoke tested the image yet.  Feel free to report back if you get to it first.

Planning to add alt

[2021-11-04 19:57] jwinarske commented on #1
It boots and runs gallery with minor change:
[code]
I'll address this with upcoming recipe addition - patch to use unified layout.

As a side bonus I have the raspberrypi4-64 vulkan driver building and running in the same image.

[2021-11-05 01:05] jwinarske commented on #1
* Updated readme in main to reflect latest state.
* Create honister branch and CI job
* CI artifact sdcard image runs Gallery release build on target.
* flutter-pi runtime dependency `flutter-engine` was missing.  The issue was masked as I always had flutter-pi in addition to another embeder.
* `IMAGE_INSTALL` does not work when building `core-image-minimal`, only `CORE_IMAGE_EXTRA_INSTALL` does.

[2021-11-05 01:05] #1 closed

[2021-11-09 08:42] pberginkonsult opened #7 "problems adding flutter-sdk-native to SDK"
I plan to add flutter sdk to the SDK generated by Yocto but fail to do so.

`TOOLCHAIN_HOST_TASK:append = " nativesdk-flutter-sdk-native"`

results in:

[code]

I would like to check if this is a bug or if there is another way to add flutter sdk to Yocto SDK? With flutter in the Yocto SDK I would like to use it to build flutter app ready to be run on target. Comment if this is a preferred way of w

[2021-11-09 17:09] jwinarske commented on #7
Hi Peter,

That hasn't come up as the standard dev workflow so far is to entirely use desktop tooling for flutter dev.  Regardless SDK support should be added.  The only downside to this is certs would need to be periodically updated.  In addition the desktop tools can be locked against an VM/Engine commit, so no real need for SDK scenario.  The SDK install with engine provides parts to generate A

[2021-11-09 17:29] jwinarske opened #8 "flutter-engine LTS strategy"
For Flutter SDK there are google storage buckets that archive stable releases.

This is not the case for flutter-engine.  The preferred approach is that the Flutter Engine team adds source archive similar to how the Chromium team does it.  Without having source tarball of entire tree, the recipe is is forced to use gclient.  Gclient pulls all the repos in the DEPS file.  These files are not archiv

[2021-11-09 17:31] jwinarske commented on #4
To clarify this is a bug that originates from Dart VM source tree.

[2021-11-09 17:32] jwinarske opened #9 "32-bit build missing from CI"

[2021-11-09 19:00] pberginkonsult commented on #7
Hi Joel,
thanks for feedback. I did some POC here https://github.com/pberginkonsult/meta-flutter/commit/24997e28e91ff57c2ea777c3b85b20665d4913a1. With that commit I have been able to build a SDK containing the Flutter SDK. There is a script in SDK that is run on initialization and sets up some variables.

With the help of https://github.com/sony/flutter-embedded-linux/wiki/Building-Flutter-apps#2-

[2021-11-10 01:44] jwinarske commented on #7
fix is in the honister branch.

The only thing required in SDK after setting up environment is to update the PATH with location of `flutter`.

[2021-11-10 01:44] #7 closed

[2021-11-10 16:41] jwinarske commented on #7
I'm working on factoring out using Engine SDK in favor of using Flutter SDK.  It will enable 32-bit builds again.

[2021-11-11 01:28] jwinarske commented on #9
https://github.com/meta-flutter/meta-flutter/pull/12

[2021-11-11 01:28] #9 closed

[2021-11-11 01:29] jwinarske commented on #7
sdk refactor on honister is complete.

[2021-11-11 07:52] pberginkonsult commented on #7
Hi Joel,
thanks for the info! I must admit that I can not fully follow the change you've done and the purpose of it. Can you elaborate a bit around "Use Flutter SDK instead of Engine SDK", what is the real difference?

Then a wish from my side is to try to get better commit messages in this layer. Right now it is quite hard to follow what changes that have been done and the purpose of them, by rea

[2021-11-11 16:35] jwinarske commented on #7
Hi Peter,

The SDK difference is:
Don't pass flutter sdk package config by default to flutter-engine.  Before
I was building flutter-engine by default with flutter sdk, and using the
front end snapshot to build AOT.  This is not needed as flutter-sdk-native
has the same bits.  So now I just use the flutter sdk bits to generate the
AOT image.  There was recent change in flutter-engine that re-enabl

[2021-11-17 19:13] jwinarske commented on #8
In addition for near term I have refactored flutter-engine into a bbclass.  This allows creating dedicated release recipes.

[2021-11-17 19:15] jwinarske opened #18 "unified paths"
All the embedders use different paths for build artifacts.

[2021-11-17 21:09] #18 closed

[2021-11-18 16:58] jwinarske opened #21 "stm3215mp CI image fails"
[code]

Have question posted to community forum with no response as of yet:
https://community.st.com/s/question/0D53W00001BwP61SAF/openstlinux-uboot-container-packaging-issue?t=1636750626238

[2021-11-25 19:02] tomstokes commented on #21
I had a similar issue in a different recipe on an STM32MP1 project. I never traced it all the way up but I worked around it by unexporting `_PYTHON_SYSCONFIGDATA_NAME` in the affected pacakge:

`_PYTHON_SYSCONFIGDATA_NAME[unexport] = "1"`

More discussion on a similar issue here: https://patchwork.openembedded.org/patch/175735/

[2021-11-27 05:35] jwinarske commented on #21
@tomstokes thanks Tom.  It's something related to running in docker container using a non-standard uid and Docker.  Someone reported on AGL mailing list having resolved similar issue using Podman instead of Docker.  Podman isn't supported by GitHub yet.  Another thing i played with was adding 'INHERIT_remove = "uninative" '.  It moved past u-boot build break to a later recipe.  I'll play around wi

[2021-11-30 01:58] tomstokes commented on #21
Now that you mention it, I was also using a Docker container with a different UID.

This is one of those bugs I worked around and hoped it would be fixed upstream by the time I got back to it. Apparently not. :)

[2021-11-30 16:05] dbeulen opened #26 "is it possible to run flutter on a device without a GPU (i.mx7 Dual)"
I am trying to run flutter in a custom Yocto build on a device with a i.mx7 (armv7 32 bit) core. As far as i can see this device does not have a GPU.

I managed to compile the sony embedders as well as flutter-pi, but they all give runtime errors. This makes me wondering:

Is it even possible to run flutter on a device without GPU?

[2021-11-30 16:13] jwinarske commented on #26
Yes I am very familiar with the i.mx7.

It would require building with SwiftShader enabled.  I have not tried this recently, and it looks like SwiftShader has deprecated their OpenGL ES implementation in favor of Vulkan.  So once there is a Vulkan based embedder available, it will be attainable.

I'll put SwiftShader support on my to-do list.  I'm thinking it should be ready sometime in January.

[2021-11-30 16:56] dbeulen commented on #26
Hy jwinarske,

Thank you for your response, it is great news! I already gave up all hopes to get it working. Some additional questions that pop up now:

Do you mean it would be possible to use DRM (flutter-pi) when SwiftShader is used? Or is it just the x11/wayland embedders which might work.

On the SwiftShader GitHub they also point to ANGLE:
`NOTE: SwiftShader's OpenGL ES implementation is no l

[2021-11-30 17:41] jwinarske commented on #26
Currently there is not a Flutter embedder that does this today.  The solution that I am proposing involves a Vulkan based embedder (coming soon) and Flutter Engine built with Vulkan and SwiftShader enabled.  The SwiftShader Front End = Vulkan, the backend can be either a frame buffer, a window, or an offscreen buffer.  So in the case of i.mx7 SwiftShader would be configured to render to a frame bu

[2021-11-30 18:39] jwinarske commented on #26
This thread indicates SwiftShader is being used in Android Things for devices  that don't have an (adequate) GPU (i.mx7):  https://groups.google.com/g/swiftshader/c/9Rq6hbgskTM?pli=1

So I would expect performance to be along the lines of Android Things running on i.mx7, and possibly better.

[2021-11-30 23:47] jwinarske commented on #26
Take a look at https://github.com/jwinarske/meta-vulkan.  If you add this to your Yocto build, and add `swiftshader` and `sascha-samples` to your image, you should be able to run the examples under `/usr/bin/vulkan-samples`.  This would be minimum requirement to run Vulkan based embedder with SoC that has no GPU.

[2021-12-02 07:14] jwinarske commented on #21
@tomstokes problem resolved in this build job:
https://github.com/meta-flutter/meta-flutter/blob/dunfell/.github/workflows/stm32mp15.yml

A bit of trial and error but it builds on Ubuntu 20.  Still need to smoke test the image.

[2021-12-02 07:14] #21 closed

[2021-12-03 17:19] jwinarske opened #29 "stm32mp15 build artifacts"
Optimize files to only those required for flashing

[2021-12-09 01:48] jwinarske opened #36 "[STM32MP157: Vivante] flutter-pi"
Using CI and flashing device with trusted image, flutter-pi fails to run:

[code]

[2021-12-09 01:50] jwinarske commented on #29
https://github.com/meta-flutter/meta-flutter/pull/35

[2021-12-09 01:50] #29 closed

[2021-12-09 01:51] jwinarske commented on #4
https://dart-review.googlesource.com/c/sdk/+/218161 has landed on the Dart side, waiting for DEP update in master for fix.

[2021-12-09 05:31] jwinarske commented on #36
@ardera stm32mp15 is an example of a non-mesa from (powervr).  Have you made any provisions for non-mesa support?

[2021-12-09 12:57] ardera commented on #36
I'll make the mesa-specific EGL extensions optional. They're only really used for hardware overlay plane support (in order to make omxplayer work), but omxplayer doesn't work on non-pi platforms anyway and I'm also working on a player based on gstreamer.

[2021-12-10 17:43] jwinarske commented on #36
Makes sense

Yeah there is a point were it make sense to move to a Wayland Compositor.  Hardware vendors generally support display processing blocks (hardware layer alpha blending etc) via kernel DRM and user DRM/Weston (Window Manager), opposed to having a customer create it from scratch.  Such as Wayland IVI, or the fairly new agl-compositor.  The other reason to move to a Wayland Compositor is

[2022-01-10 13:58] snke commented on #4
With #39 the mallinfo2 issue is fixed. But building with 34be923d2750c05cfc15738bcfeb9609cb18416c from `jw/honister_debug_enable` and a non-X11 (`DISTRO_FEATURES:remove = " x11"`), but Wayland-only image I get the following error building flutter-engine-debug on honister:

[code]

Do you know what the problem is there?

[2022-01-10 16:06] jwinarske commented on #4
That requires passing in `--no-build-glfw-shell`.  I have an issue open [issue ](https://github.com/flutter/flutter/issues/95711#event-5842456016) on flutter/flutter about this.  Chinmay decided to default the GLFW example shell, and that is being built for X11.  I'm requesting it not be enabled by default.

[2022-01-10 16:34] snke commented on #4
Thank you for the explanation and for taking care of this!

[2022-01-25 09:04] snke commented on #4
Everything works for me again with `FLUTTER_CHANNEL = "master"`

[2022-01-25 14:02] jwinarske commented on #4
@snke The hot fixes finally made it into beta.  The fixes started in master.

[2022-01-30 21:27] jwinarske commented on #36
@ardera

Running the latest commit of flutter-pi on a STM32MP157F-DK2 board I'm seeing:
[code]
In general things are not rendering 100%.  Missing text etc.  Same behavior across the flutter examples.

Also for customdevice I find myself having to kill -9 prefix to running, or I end up with multiple instances and errors about atomic DRM access:
[code]

[2022-01-30 22:29] ardera commented on #36
I think that's probably due to the driver. I had a similar problem with the raspberry pi's legacy driver. Missing images (for example the debug banner), etc. Switched to the open source driver and it worked fine. However I have no idea if that's a driver bug, or just some incompatibility with flutter. If you really need to use the closed-source driver, maybe you can throw some OpenGL debugger at i

[2022-01-30 23:11] jwinarske commented on #36
@ardera Hmm.  I can enable the GL debug callback, other than that it's a mystery driver.  If enabling/building Mesa driver is an option  I suspect it would help.

Vivante claim Vulkan support for that GPU on their website.  It might be worth lobbying them for a release; much better power numbers.

[2022-01-31 14:36] ardera commented on #36
True, if that works vulkan would ultimately be better. You can also use [apitrace](https://github.com/apitrace/apitrace) to look at what flutter is doing exactly

I experience this too, it used to work fine but it stopped working out of a sudden. My workaround is to add a `-tt` to the ssh command to force allocating a pseudoterminal, that way the remote side will get a `SIGHUP` when the ssh sessio

[2022-01-31 17:48] jwinarske commented on #36
@ardera I'll create a recipe for `apitrace`, include in images and see what I can find.

[2022-01-31 22:21] jwinarske commented on #36
@ardera I forgot to mention apps render fine with ivi-homescreen and Wayland.

Based on the Wayland log the DRM backend is selecting a surface without an alpha channel:
`Chosen EGL config details: id:  21 rgba: 8 8 8 0 buf: 24 dep:  0 stcl: 0 int: 1-60 type: win|pix|pbf|swap_preserved vis_id: XRGB8888 (0x34325258)`

In ivi-homescreen I have a build flag that enables/disable selection of alpha enab

[2022-02-01 05:18] jwinarske commented on #26
@dbeulen If you have a hardware setup to donate it would happen faster.

[2022-02-01 12:48] ardera commented on #36
Okay that's interesting. I'll add an option for choosing a specific pixel format. Right now I'm just using the first EGL config that has `DRM_FORMAT_ARGB8888` as the native visual id. (for you it says `vis_id: XRGB8888`)

[2022-02-04 19:02] jwinarske commented on #8
https://github.com/meta-flutter/meta-flutter/releases/tag/AGL-0.3.0

[2022-02-04 19:02] #8 closed

[2022-02-04 19:03] #4 closed

[2022-02-07 17:24] jwinarske opened #57 "[ivi-homescreen] Jetson Xavier NX Ctl+C errors"
Non-critical errors that only happen with Control+C.

[code]

[2022-02-09 09:47] esben opened #58 "OpenEmbedded Layer index pointing to old repository"
The [meta-flutter entry](https://layers.openembedded.org/layerindex/branch/master/layer/meta-flutter/) needs to be updated to refer to the new repository URL.

[2022-02-10 00:53] jwinarske commented on #58
Agreed

[2022-02-10 01:08] jwinarske commented on #58
Trying to login my account got locked.  No idea who the owner/contact is.

[2022-02-10 07:45] esben commented on #58
The site supports password reset. https://layers.openembedded.org/accounts/login/

[2022-02-10 10:50] ardera opened #60 "Error when running `populate_sdk` of `nativesdk-flutter-sdk`"
Hey,

I'm getting this error when trying to populate the native SDK:
[code]

This is the log file:

<details>

<summary>task logfile</summary>

[code]

</details>

Any idea what's up with this? I'm running on WSL2 if that makes a difference

[2022-02-10 11:23] ardera commented on #60
Apparently it's a bug in the [`file`](http://www.darwinsys.com/file/) command: https://lists.pld-linux.org/mailman/pipermail/pld-cvs-commit/Week-of-Mon-20200803/514769.html

I just replaced the `.wasm` files with empty files since I don't need the flutter devtools anyway

[2022-02-12 15:06] t33x opened #63 "no vc4.ko in honister-rpi3-64 images"
In github actions, your successful honister-rpi3-64 images do not contains the vc4 kernel module (there is no /lib/modules/..../drivers/gpu/vc4/vc4.ko). Is there a known solution to this problem?

update: none of the honister-rpi (either 3 or 4 and 32 or 64 bit) images include the driver.

[2022-02-12 20:46] jwinarske commented on #63
@t33x I just tested the honister-rpi3-64 DRM/EGL image.  It works fine:
[code]
Not sure what is a problem here.

[2022-02-12 20:53] jwinarske commented on #60
@ardera I would add the SDK is populated built in all the AGL CI jobs.  So it is definitely something in your host setup.
Also Ubuntu 20 is considered bleeding edge for building Yocto images.  Most build on 16 or 18.  Some of my CI builds on 20, but that is only after flushing it out with earlier image.  Also at the bottom of the README there is a note amount uni-native, that generally applies wit

[2022-02-12 20:53] #60 closed

[2022-02-12 21:44] t33x commented on #63
My mistake, I apologize. I trying the DPI interface to come to life (not working) and I thought this was the problem, but it's not. The kernel includes the vc4 driver (modules.builtin contains that). Now I think that the vc4-kms-dpi-generic overlay will be the solution to my problem... You can close this issue and again I apologize.

[2022-02-12 22:03] #63 closed

[2022-03-07 08:23] pberginkonsult opened #81 "support for upcoming kirkstone release"
It is currently not possible to use this layer against oe-core master because kirkstone is missing in LAYERSERIES_COMPAT. It would be good to add support in this layer to be able to build against master.

https://github.com/openembedded/openembedded-core/commit/4a180aa5b30cc0906072d5b1e970eea41f1ce642

[2022-03-07 22:01] jwinarske commented on #81
Done.  https://github.com/meta-flutter/meta-flutter/commit/081dcf2e1d5406da005dae2f53a0c5e2c2603569

[2022-03-12 08:45] rzr opened #84 "Set default tag"
This layer wont work out of the box without setting the sdk tag currently:

FLUTTER_SDK_TAG = "2.10.2"

Would it be possible to just set AUTOREV in CI recipes and default to supported tag ?

Relate-to: https://gitlab.eclipse.org/eclipse/oniro-core/oniro/-/pipelines/2330

https://gitlab.eclipse.org/eclipse/oniro-core/oniro/-/merge_requests/4

[2022-03-16 10:09] ck-schmidi opened #87 "[STM32MP15] Problems deploying Flutter App on STM32MP157C-DK2"
Hi, I'm trying to get a running setup for the _STM32MP157C-DK2_ board.

I tried a prebuild image from 2 days ago (<https://github.com/meta-flutter/meta-flutter/actions/runs/1977985359>)

Successfully flashed the image on the hardware with:

`STM32_Programmer_CLI -c port=USB1 -w flashlayout_st-image-core/trusted/FlashLayout_sdcard_stm32mp157c-dk2-trusted.tsv`

I configured a proper custom device fo

[2022-03-17 20:01] jwinarske commented on #87
@ck-schmidi
That build is using the latest flutter channel stable: `FLUTTER_SDK_TAG = "2.10.3"`

What should resolve your scenario:
[code]

[2022-03-17 20:04] jwinarske commented on #84
@rzr The LTS support I just merged into Dunfell has default set.  This will go into Honister branch soon.

[2022-03-19 16:07] jwinarske commented on #84
Default FLUTTER_SDK_TAG is set to 2.10.3 in latest honister commit.

[2022-03-19 16:07] #84 closed

[2022-03-21 08:09] rzr commented on #84
Thanks would it be also possible create a branch for next LTS kirkstone (expected this coming april https://wiki.yoctoproject.org/wiki/Releases# )

[2022-03-24 03:59] jwinarske opened #91 "Fails to find commit hash"
@WAKazuyoshiAkiyama
Hitting a problem with this line:
https://github.com/meta-flutter/meta-flutter/blob/871f4e85af49d170a3b230c654fba3e5dcfb9fb5/conf/include/flutter-version.inc#L18

With failure, it returns byte array opposed to string, which causes Json load error.

Latest commit to `dunfell` resolves this by forcing utf-8 conversion.

[2022-03-24 04:02] jwinarske commented on #91
It passed all the public CI jobs, but failed on a private CI job.

[2022-03-24 14:34] #91 closed

[2022-03-29 23:05] jwinarske opened #95 "[honister, kirkstone+] debug and profile build failures"
Builds targeting GCC 11.x (honister/kirkstone+) fail.

Builds < 2.10.4 (debug and profile) fail with
[code]

The gets addressed with https://github.com/flutter/engine/pull/32187

If building with --use-mallinfo2 and the host GCC version does have malloc2 defined in system root it will fail with
[code]

https://github.com/flutter/flutter/issues/93871

[2022-03-31 05:26] #87 closed

[2022-04-02 19:31] jwinarske commented on #95
Kirkstone is fixed:
https://github.com/meta-flutter/meta-flutter/commit/b9e48a0f53cbebf03bf4ad67f7671a78382a47d5

[2022-04-02 22:48] jwinarske commented on #95
Honister fixed: https://github.com/meta-flutter/meta-flutter/commit/050c679e6a3d64c8b43efb2fefbea8dc22139d00

[2022-04-02 22:48] #95 closed

[2022-04-12 15:32] tprrt opened #105 "Unable to build Flutter application with Yocto SDK"
Hello,

I built a Yocto SDK including `nativesdk-flutter-sdk`, but it isn't possible to build Flutter application with the SDK because the command `flutter build bundle` is unable to read the version of Flutter SDK (provided by the Yocto SDK):
[code]

It is easier to reproduce this issue having to build the Flutter gallery application:
[code]

From the trace above, we can see the command try to ac

[2022-04-12 15:38] jwinarske commented on #105
@tprrt Thanks for reporting the issue.  I'll take a look.

[2022-04-20 01:32] jwinarske commented on #105
@tprrt See if this works for you:
[code]

[2022-04-25 09:34] tprrt commented on #105
Hello @jwinarske,

I tried to use the commands above, without success, the same error occurs.

[2022-04-27 17:42] jwinarske commented on #105
@tprrt What branch of meta-flutter are you using?

[2022-04-28 08:39] tprrt commented on #105
Hello @jwinarske,

We are using the Honister branch (08b9a6c668b904c1abc2d769a2ace5697bea984b).

Kind regards,
Thomas

[2022-04-29 05:04] jwinarske commented on #105
@tprrt would you mind trying a build with the dunfell branch?  The steps I shared work on dunfell.
https://github.com/meta-flutter/meta-flutter/blob/dunfell/conf/layer.conf#L11

[2022-04-29 06:22] jwinarske commented on #105
Honister is not LTS so changing to bug

[2022-04-29 10:04] tprrt commented on #105
Hello @jwinarske,

The Honister branch uses the new syntax override; is there a trick to use the Dunfell branch of your layer with Honister?

[code]

Honister isn't a LTS but it is supported

Do you have a plan to support Kirkstone?

We started our projet with Honister to be able to switch more quickly on the Kirkstone branch.

Kind regards,
Thomas

[2022-04-29 13:19] jwinarske commented on #105
@tprrt Currently Toyota is on Dunfell, and AGL has just moved to Kirkstone, and the default branch has been changed to Kirkstone as of yesterday.  I haven't had any requests or issues around Honister so it is lagging behind Dunfell.  I suspect in your case if I bring Honister to parity with Dunfell your issue will be resolved with the suggested fix.

Normally for flutter development one directly u

[2022-05-03 15:25] dbeulen commented on #26
@jwinarske Sorry, at this moment im not able to provide any hardware to donate.

I had a very busy time the last few months, so i was not really able to dive into this. But this week i had some spare time to get things running.

Actually i managed to get the sony embedders and the toyota-homescreen embedders running with wayland display manager on the Imx7 device. Unfortunately the performance was

[2022-05-03 16:58] jwinarske commented on #26
@dbeulen I have Vulkan BE support in the works.  I think the optimal scenario for your case would be DirectToDisplay Vulkan.  I'm currently working on Wayland/Vulkan.  At some point after this gets released I plan to add DirectToDisplay Vulkan support, which would be best case for Swiftshader.

[2022-05-05 07:02] timbz opened #110 "Unable to run apps on armv7 in release mode"
Hello,

I am trying to run flutter apps using the toyota embedder  on an i.MX6 (armv7). Debug (JIR) mode works but when I try to run the app in release mode (AOT) the app fails to start:

[code]

I guess this is probably related to [cross compilation](https://github.com/meta-flutter/meta-flutter/blob/kirkstone/classes/flutter-app.bbclass#L161). Any idea what could be the issue?

[2022-05-05 17:50] jwinarske commented on #110
@timbz

Could be related to Wayland versions.  If would be very helpful if you build ivi-homescreen with:
[code]
Then share the log output.  Without this I can't be of much help.

Also what Yocto release, and what meta-flutter branch.  As well as what peripherals you have present (mouse, keyboard, touch).

Cheers

[2022-05-06 09:37] timbz commented on #110
[code]
I am using the dunfell branch shoehorned into sumo. I also tried to remove the [arm_tune](https://github.com/meta-flutter/meta-flutter/blob/dunfell/recipes-graphics/flutter-engine/flutter-engine.inc#L127) options

[2022-05-06 17:34] jwinarske commented on #110
@timbz Stack trace? `bt`
I merged in xdg_shell support 10 days ago.  Please re-base and report back as that is what I'm currently working with; it also adds version info to Wayland output that is useful.
https://github.com/toyota-connected/ivi-homescreen

[2022-05-11 07:53] timbz commented on #110
The stack trace doesn't help as it is crashing in `libapp.so`. It seems `libapp.so` isn't properly compiled for arm 32bit. I read that you need to cross compile `gen_snapshot` using x86 32bit clang to work on armv7 but I didn't verify that. I ended up using `--runtime-mode jit_release`.

Thanks for the great work @jwinarske

[2022-05-11 07:53] #110 closed

[2022-05-11 09:13] WAKazuyoshiAkiyama opened #112 "flutter-sdk_git.bb is not available because HTTPS_PROXY is not set."
If flutter-sdk_git.bb is used in the site with the specific proxy setting, since flutter-sdk cannot be fetched, the build will be failed.

So, to my mind, the setting for https proxy like `export https_proxy=${https_proxy}` is required in common_compile() of flutter-sdk_git.bb like the followings.

[code]

@jwinarske
Can I have your opinions? If ok, I will create the PR.

[2022-05-11 13:25] jwinarske commented on #110
@timbz The engine SDK generated in yocto build is built with clang.  You can optionally install to image.  Are you not using engine SDK to generate AOT?

[2022-05-11 18:46] jwinarske commented on #110
@timbz The STM32MP15 (armv7) Flutter Gallery app release build runs fine on target; meta-flutter CI artifact.  Should be no different for i.MX6.  I would narrow in on this, as running anything other than release is less than optimal.

[2022-05-12 02:13] jwinarske commented on #112
@WAKazuyoshiAkiyama I don't have an environment that requires http/https proxy, or one I can test with.  So please create PR.

[2022-05-13 02:52] WAKazuyoshiAkiyama commented on #112
@jwinarske I created the PR. https://github.com/meta-flutter/meta-flutter/pull/113
In the environment requiring the proxy, the same change is added in bbappend, and it is tested.

[2022-05-13 07:12] WAKazuyoshiAkiyama commented on #112
@jwinarske Thank you for merging.

[2022-05-13 07:12] #112 closed

[2022-05-17 02:25] 79rpm opened #114 "Question - Accessing Flutter over Web Interface For i.MX6ULL"
Hello,

I am looking at using Flutter on i.MX6ULL. I am building the BSP with Yocto. It is a headless system with Ethernet access. Where can I find some documentation on how to build Flutter in that scenario? The backend will most likely be node.js.

Thank you,

[2022-05-17 13:58] jwinarske commented on #114
@79rpm You would need to build the Flutter UI as a web interface, then implement a HTTP server on your device to host the pages.  See general docs for web support: https://flutter.dev/multi-platform/web

No idea what your skill level is, but I have used this server on a few projects with great success:
https://h2o.examp1e.net/

Closing issue as this query has nothing to do with meta-flutter.

[2022-05-18 18:15] 79rpm commented on #114
@jwinarske thank you for the details and confirmation. I can go for it!

[2022-05-19 01:02] jwinarske opened #115 "[Linux Plugin Test App] runs in Debug, not AOT"
The Linux Dart code runs as expected in debug build, not with AOT.

This issue only affects plugins that select between platform code at build time using pubspec.yaml constructs.

One problematic example:
https://github.com/flutter/plugins/blob/main/packages/path_provider/path_provider/pubspec.yaml#L20
in conjunction with
https://github.com/flutter/plugins/blob/main/packages/path_provider/path_pro

[2022-05-25 08:38] tprrt commented on #105
Hello @jwinarske,

We tested the commands you proposed above, it works on Kirkstone.
Thank you for your support.

Kind regards,
Thomas

[2022-06-08 16:15] bojidartonchev opened #117 "bitbake core-image-base fails with nothing provides /usr/bin/env"
Hello,

First I want to say that this is my first step in Yocto, so probably there is something missed on my side, but I am stuck on that and can't find a solution. So I am trying to build an Yocto image with meta-flutter for raspberry pi 4, but

`bitbake core-image-base` fails with the error below.

For all of my layers I am using kirkstone branches. Before adding meta-flutter I successfully buil

[2022-06-08 18:23] jwinarske commented on #117
I haven't put together a manifest for RPI4 on Kirkstone yet.  The focus has been the lowest common denominator Zero2.

For Dunfell see:  https://github.com/meta-flutter/meta-flutter/blob/dunfell/.github/workflows/dunfell-rpi4-64.yml
You can also download an image to test.

[2022-06-09 14:55] jwinarske commented on #117
This build has Flutter SDK 3.0.1: https://github.com/meta-flutter/meta-flutter/actions/runs/2464971404

[2022-06-09 14:55] #117 closed

[2022-06-13 12:24] LeoBound opened #121 "Is Zeus (3.0) supported?"
Hi,

I have been trying to build an image for Zeus, with a fresh Poky install, meta-clang on the zeus branch and meta-flutter on dunfell.

When trying to execute bitbake core-image-base I get:
[code]

It looks like this is because features_check was first added in dunfell, replacing distro_features_check?
Am I doing something incorrectly or is Zeus not supported (it is present in layer.conf)?

Tha

[2022-06-15 04:50] jwinarske commented on #121
@LeoBound Hi there.  Yeah I haven't flushed out Zeus at this time.  If you are aware of the differences I can work with you on it.

[2022-06-20 09:42] rzr commented on #105
May this relate to this issue:

VM snapshot invalid and could not be inferred from settings.

https://github.com/jwinarske/meta-flutter/issues/36

[2022-06-20 10:25] rzr commented on #115
Is this related to this issue i am observing in kirkstone branch: "VM snapshot invalid and could not be inferred from settings."

Same as previously reported issue  https://github.com/jwinarske/meta-flutter/issues/36

[2022-06-20 13:14] jwinarske commented on #115
@rzr unrelated.  The Dart VM version in Flutter SDK used to build a Flutter application must match Dart VM in engine used.  It's a 1:1 relationship.  You can send arg to VM via command line to skip this check for development scenarios.  See the Dart VM arg list in source.

[2022-06-22 10:14] witekio-kwe opened #122 "_get_flutter_release_info in case of no network"
Looking at
[code]

I don't see a way to get a fixed revision for the e.g. SDK when the build host has no network connectivity at all.
Wouldn't it better to have a way to bail out early *before* making any network call, if the user can specify the exact resource they want to pull?

As the SRC_URI in the sdk recipe for instance expands already while parsing, there's not even a proper way to override

[2022-06-22 23:29] jwinarske commented on #122
FLUTTER_SDK_TAG origin, see: https://github.com/meta-flutter/meta-flutter/blob/kirkstone/conf/include/flutter-version.inc

The Flutter SDK is cached in DL_DIR.

[2022-06-23 06:08] witekio-kwe commented on #122
But still of these functions do a network call before the settings of the variables are used right?
what I had now a couple of times in our CI is that the network call timed out or was responded with an temporary error, leading to a bb.fatal and therefore a failing build, even though we have the needed sources cached in our DL_DIR

[2022-06-24 06:52] witekio-kwe commented on #122
Thank you - the network access is sadly needed - but what would like to have addressed is that we could get rid of this network call when for instance a tag is defined (or even better a sha hash)

Something like

[code]

I could prepare a PR if that would be something accepted by the project

[2022-06-24 10:57] jwinarske commented on #122
I think it's a bit more complicated than this.  It needs to know the correlation between Flutter SDK and engine commit.

That needs to be stored and accessed appropriately.

PRs are welcome.  Running through the CI matrix for multiple branches with a change like this is not trivial and needs to be carefully thought out.

[2022-06-24 10:59] jwinarske commented on #122
The engine commit can be looked up in the flutter SDK, using path bin/internal/engine.version.

[2022-06-24 11:08] jwinarske commented on #122
I think the right thing would be to cache the JSON results to a file in DL_DIR.  If no network then fallback to resolving versions from that.  As if it were results from a live lookup.  Looking up engine from SDK introduces dependencies best avoided.

[2022-07-04 08:33] pberginkonsult opened #124 "Avoid installing stuff in $HOME dir"
When building inside a container I get his error:

[code]
Flutter is putting its configuration files in the path of `XDG_CONFIG_HOME` (https://github.com/flutter/flutter/pull/66645). A possible solution to this problem is to set `XDG_CONFIG_HOME` to a location inside the working dir.

I'm working on kirkstone branch and currently using commit 7d905a8a280cd2cf21ea9252b1ce4d070fe9dc96. This is a sol

[2022-07-04 18:33] dsa-t opened #125 "[dunfell] flutter-pi can't find libapp.so or assets."
flutter-pi gives an error, as it can't find libapp.so:
[code]

Note that this is because `libapp.so` is in `/usr/share/my_app/lib/`, and flutter-pi tries to find it in `/usr/share/my_app/`

If I pass `/usr/share/my_app/lib/` to flutter-pi, it finds the library, but won't find the assets.

If I copy `libapp.so` to `/usr/share/my_app/`, then the app can't find assets. It expects them in `/usr/share/

[2022-07-04 20:09] dsa-t commented on #125
I may have been using an outdated flutter-pi, so closing for now.

[2022-07-04 20:09] #125 closed

[2022-07-05 16:38] rzr opened #127 "Check offline install (for LTS)"
Hi,
As reported earlier some recipes needs network at build/configure time.
I have identified a few, so I am creating a meta issue to track them.

[2022-07-06 00:02] jwinarske commented on #124
@pberginkonsult

Hi Peter.  The Kirkstone CI jobs are running with this Docker container:
https://github.com/meta-flutter/docker-containers/blob/main/ubuntu-20-dev/Dockerfile

What OS/version are you using for your container?

[2022-07-06 00:02] jwinarske commented on #122
@witekio-kwe Are you going to submit a PR?

[2022-07-06 02:17] WAKazuyoshiAkiyama commented on #122
From my understanding, there are two ways to get the flutter sdk.
The first is to use https://github.com/flutter/flutter, but, from my experience, the revision hash of this repo sometimes changes (is overwritten).
So, this is an unstable way.

The second is to use the tar archive of `https://storage.googleapis.com/flutter_infra_release/releases/${@get_flutter_archive(d)}`.
At least, this url is no

[2022-07-06 07:16] witekio-kwe commented on #122
I'm not sure - as of now we helped ourselves with fixing the revisions using bbappends.
We will likely start to play around with the discussed options, but that will take some time.

It will (as you rightfully mentioned) not solve all of the issues (network access while compiling), so it still feels like a workaround to me.

Anyway I will get back with a PR at some point later this year.
For now I

[2022-07-06 13:17] pberginkonsult commented on #124
Im using crops/poky with Ubuntu 22.04. https://hub.docker.com/layers/poky/crops/poky/ubuntu-22.04/images/sha256-3275936ec9b026b7c598066f195975c3da35b9cdc4451b771fca521addd61b78?context=explore

[2022-07-06 14:13] jwinarske commented on #124
@pberginkonsult i haven't looked at the flutter code.  This applies to both `flutter build bundle` and `flutter build linux`?

If the SDK and App have two config locations that leads to redundancy, and slower builds.  As SDK and each app would recreate this folder.

The benefit of using the container is it's as common location for all the recipes.  One could map the config folder to container to p

[2022-07-11 13:14] bojidartonchev opened #129 "RK3399 - undefined reference to `eglDestroyImage'"
Hello, I am trying to build an image from the kirkstone branch, but flutter-pi is not compiling.

[code]

This is my local.conf

[code]

Any help would be appreciated.

Best regards!

[2022-07-12 07:10] dbeulen opened #130 "How to set master branch"
I would like to use custom devices to debug our application (https://github.com/flutter/flutter/wiki/Using-custom-embedders-with-the-Flutter-CLI). However, custom devices is only available on the master channel.

When i build my app using the master channel it will not run on the device because the device is on the latest stable release. See error below. How can i configure meta-flutter so it uses

[2022-07-12 12:39] dbeulen commented on #110
I am having the same problem. I am running homescreen on an i.mx6. As soon as the libapp.so starts the application logs a Illegal instruction.
[code]

[2022-07-12 17:06] jwinarske commented on #110
@dbeulen. I need more context
1. Are you building/running with transparency enabled or disabled?  Low end SoCs I disable transparency to start; test enabled later.
2. What Flutter SDK version are you using?
3. What commit of ivi-homescreen are you using?
4. Output of `readelf -h libapp.so`?

[2022-07-13 05:51] jwinarske commented on #130
@dbeulen The Flutter SDK Version you build your bundle with needs to match the engine build used with the embedder.  If they do not match, you will see this error.

[2022-07-13 05:52] jwinarske commented on #130
Also it's fairly trivial to patch the flutter SDK to enable custom-devices.

[2022-07-13 05:53] jwinarske commented on #130
Closing as this is unrelated to meta-flutter.

[2022-07-13 05:53] #130 closed

[2022-07-14 23:45] jwinarske commented on #121
@LeoBound I would stick to Dunfell or Kirkstone which are both LTS; better support for security updates.

[2022-07-15 05:49] bernardcraddock commented on #58
maybe someone here can advise https://www.openembedded.org/wiki/Mailing_lists

[2022-07-15 12:01] LeoBound commented on #121
@jwinarske I'd like to but unfortunately the hardware I have only has a board support package for Warrior

[2022-07-15 13:11] jwinarske commented on #121
@LeoBound can you share what the SoC is?   If not then at least machine arch.  I may have a reference dev board I could test on.  Also what embedder & gfx stack?

[2022-07-15 13:42] LeoBound commented on #121
@jwinarske Sure, it's got an Freescale I.MX6 Dual (armv7), has Weston/Wayland and uses EGL for graphics.

Originally I was going to use flutter-pi, but the default yocto package doesn't use systemd which is required; I thought I might as well modify it and, if I was going to do that, add meta-flutter at the same time.

[2022-07-19 14:04] dbeulen commented on #110
@jwinarske Thank you for your help! Really appreciate it.

1. I guess i have transparency enabled. (i do have a png with transparent background in my app which appears to be transparent). How could i disable the transparency?
2. I am using flutter sdk 3.0.4 within yocto to compile the application.
3. latest ivi homescreen commit: e0ede14ab7fbb013f37a2e62b655c8bedacb0c63
4.
[code]

[2022-07-20 02:30] jwinarske commented on #110
@dbeulen

Create a ivi-homescreen-<runtime variant>_git.bbappend with the minimum contents:
[code]

[2022-07-22 00:39] bojidartonchev commented on #129
The issue was resolved after changing from Jeffy's [meta-rockchip](https://github.com/JeffyCN/meta-rockchip) to mainline [meta-rockchip](https://git.yoctoproject.org/meta-rockchip).

[2022-07-22 00:39] #129 closed

[2022-07-23 09:54] bernardcraddock opened #136 "flutter-engine.inc"
Do we need to add the branch in SRC_URI ?

SRC_URI = "gn://github.com/flutter/engine.git;branch=main;name=src/flutter \

SRC_URI = "gn://github.com/flutter/engine.git;name=src/flutter \
           file://0001-clang-toolchain.patch \
           file://0002-x64-sysroot-assert.patch \
           file://0001-allow-deprecated-calls.patch \
           file://0001-remove-x11-dependency.patch \

[2022-07-23 13:11] jwinarske commented on #136
Nope.  Notice the `gn:` prefix.  It uses a custom fetcher included in the layer.

[2022-07-24 06:32] bernardcraddock commented on #136
yep i did notice it, maybe i'm doing something else incorrect ?
Building on AGL/master as follows it failed with Unable to fetch URL, after poking around i amended branch=main. retstarted bitbake and it completed ok and built the image

  $ source meta-agl/scripts/aglsetup.sh -f -m qemux86-64 -b qemux86-64 agl-flutter agl-devel
    $ nohup time bitbake agl-image-flutter &

________ deleting 'src/i

[2022-07-24 09:12] bernardcraddock commented on #136
booting the newly built image using  runqemu it's launching gallery

[2022-07-24 13:56] #136 closed

[2022-07-25 07:36] dbeulen commented on #110
Thank you, unfortunately building it without transparency did not help. Any idea what i could try next?

[2022-07-25 13:47] jwinarske commented on #110
@dbeulen What type of engine build are you running?  Do you have the unoptimized flag set?  If not try running this build variant.  It adds debug asserts which may be useful.

[2022-07-27 17:54] jwinarske opened #141 "User Service vs System Service?"
Looking to consolidate running Homescreen as user session under compositor.  Looking for any feedback from users on what they prefer.  User Service, or System service?

AGL is running as user session under the agl-compositor.  I'm considering making this standard for base images, which will require setting up a user etc.  I was avoiding this until now.

@rzr Are you using a system service to auto-

[2022-07-28 07:35] rzr commented on #141
in oniro currently It's a system service but set as weston user:

https://gitlab.eclipse.org/pcoval/meta-oniro-blueprint-flutter/-/blob/kirkstone/conf/layer.conf#L51

I have no objection to change it but I can share some opinions:

In past life, I remember Tizen:Common project used user service for starting compositor, It worked enough (even if systemd --user was not recommended by systemd project

[2022-07-29 03:30] jwinarske commented on #141
I see.  I have a pending merge which removes the system service definition in favor of using a "platform" specific bbappend.  For AGL it's being dictated that I run as a user session.

https://github.com/meta-flutter/meta-flutter/pull/140/files#diff-a8eb8e01c6cdb4eadba150e359641113c52796378f319c44d424e4412d635650

Corresponding AGL bbappend:
https://github.com/meta-flutter/meta-agl-devel/blob/main

[2022-08-05 09:38] bojidartonchev opened #144 "flutter-engine-runtimerelease do_install fails"
Hello,

After updating to latest kirkstone(0655f2eb220d2a929157643f542f8f980986442c), flutter-engine do_install fails with the following error:

[code]

Reverting back to 3c9c95194761a969d359e71337d2dc7820658da5 fixed the issue. Am I missing some breaking change here?

Best regards,
Bozhidar

[2022-08-05 13:57] jwinarske commented on #144
@bojidartonchev My CI jobs needed clean build with AGL refactor PR.  Have you tried a clean build?

[2022-08-05 14:14] jwinarske commented on #144
If the clean doesn't do it, it's most likely related to the fact I'm missing a push to https://github.com/meta-flutter/meta-flutter-rpi.  Which uses new bbclass extension.  That's unfortunate.  It'll have to wait until the 17th when I'm back in the country.

[2022-08-05 14:18] jwinarske commented on #144
Also if you're not using metta-flutter-pi, then a clean should fix it, as the kirkstone-linux-dummy jobs are all green:
https://github.com/meta-flutter/meta-flutter/blob/kirkstone/.github/workflows/kirkstone-linux-dummy.yml#L148

[2022-08-08 06:12] pberginkonsult commented on #124
Hi @jwinarske,
sorry for delayed response.

If this change introduce degraded performance it is not good and need to be looked at deeper.

I haven't that deep knowledge in the flutter build process yet. But if I understand your response correct I think the `.config/flutter` dir should be put in sysroot. Do you think this is possible?

My main concern is that it brakes the whole idea of a sandboxed

[2022-08-08 19:21] mortenboye opened #145 "libflutter_engine.so not found"
I am trying to run a yocto image with meta-flutter.

My recipe and image was working on honister but after updating to kirkstone I'm seeing the below error when trying to run flutter-pi.

The directory /usr/share/midium does not contain the libflutter_engine.so file, but only a data folder with flutter_assets within.
I do have /usr/lib/libflutter_engine.so as part of my image though.

[code]

I'm

[2022-08-09 00:20] jwinarske commented on #145
@bojidartonchev can you take a look at this since your patch was the last change?

[2022-08-09 00:22] jwinarske commented on #145
@mortenboye are you pointing to the flutter_asset folder, and you have matching Flutter SDK and flutter engine?

[2022-08-09 00:35] jwinarske commented on #124
I'm not against the idea of sandboxing .config.  The approach would need to archive the .config in SDK compile append.  Then in apps pre-compile unarchives it to ${WORKDIR} and set XDG_CONFIG_HOME to extracted folder.

[2022-08-09 17:42] mortenboye commented on #145
Yes, running flutter-pi like this
`flutter-pi /usr/share/midium`

And have not touched SDK and engine settings since honister (which worked).

I was a bit confused about the new runtime type defines, but did manage to get poky to build eventually.

my-app.inc
[code]

my_app_debug_git.bb
[code]

[2022-08-09 19:03] jwinarske commented on #144
Adding `flutter-pi-runtimerelease` is what you want.  It adds the runtime dependency, so libflutter_engine.so will be installed in image automatically.

Same naming for your app recipe.  e.g. `myapp-runtimerelease`

[2022-08-09 19:37] bojidartonchev commented on #145
@jwinarske I can look it, but I am on vacation for the next two weeks, so it would be after that.

[2022-08-10 00:04] bojidartonchev commented on #144
I already had that since I am using succesfully rev. 3c9c95194761a969d359e71337d2dc7820658da5 wich has this change. I will with full clean build after I return to my country next week

[2022-08-12 10:00] LeoBound commented on #121
I've managed to get a successful build on Warrior now with gallery-debug, flutter-engine debug and flutter-wayland-client (with the debug flags set in the local.conf).

For anyone else interested in doing this the main changes I had to make were replacing features_check -> distro_features_check in any recipes I wanted to build, make sure you have gcc-multilib, and the first build I did would fail

[2022-08-12 10:00] #121 closed

[2022-08-15 10:48] ajlennon opened #146 "SOLVED: Error building head of honister branch"
Has anybody got any ideas?

[code]
[code]

[2022-08-17 10:56] Gmatarrubia commented on #146
I get the same error

[2022-08-17 11:15] ajlennon commented on #146
Thanks for confirming :pray:

[2022-08-17 14:04] jwinarske commented on #146
@ajlennon what branch are you using?

[2022-08-17 14:10] jwinarske commented on #146
@ajlennon you want to use dunfell branch.  Notice the layer config file supports honester.  Dunfell represents the older override specifier, kirkstone represents the new.

[2022-08-17 14:20] ajlennon commented on #146
ok thanks - will try that here

[2022-08-17 15:12] Gmatarrubia commented on #146
Hi @ajlennon, I got a successful build again. I created a PR in which I pick latest changes from kirkstone branch to the honister one. In the meantime, you can use my changes from my fork. Let me know, if it could work for you. [Gmatarrubia/meta-flutter honister branch](https://github.com/Gmatarrubia/meta-flutter/tree/honister)

[2022-08-17 15:27] ajlennon commented on #146
Same problem with `dunfell`

[code]

[2022-08-17 15:36] ajlennon commented on #146
@Gmatarrubia there doesn't seem to be a `flutter-engine-release` any more?

[2022-08-17 15:43] jwinarske commented on #146
@ajlennon personally I would suggest sticking with LTS releases (kirkstone + Dunfell).  These are the two i have been maintaining regularly.  AGL is on kirkstone.  So a branch like honister is a much lower priority.  If the PR from @Gmatarrubia passes all checks I'll merge it to honister.  If your target BSP doesn't have a kirkstone branch yet, chances are it will soon.  What SoC are you targeting

[2022-08-17 15:43] ajlennon commented on #146
I tried `dunfell` as you suggested @jwinarske - it fails to build in the same way

[2022-08-17 15:46] jwinarske commented on #146
@ajlennon Dunfell has a CI job for imx8m-mini
https://github.com/meta-flutter/meta-flutter/blob/dunfell/.github/workflows/dunfell-dart-mx8m-mini.yml

[2022-08-17 15:47] jwinarske commented on #146
I'll be updating Dunfell to match recent kirkstone releases this week.  I was out on vacation the last two weeks

[2022-08-17 15:48] ajlennon commented on #146
I'm building for the NXP reference target here rather than the variscite board. I don't think I'm doing anything particularly custom though. I just added in the lines from the README.

[2022-08-17 15:49] ajlennon commented on #146
This is my `local.conf`

[code]

[2022-08-17 15:50] jwinarske commented on #146
I can add a CI job.  Where's the BSP and what's the machine name?

[2022-08-17 15:52] jwinarske commented on #146
Found it:
https://www.nxp.com/design/software/embedded-software/i-mx-software/embedded-linux-for-i-mx-applications-processors:IMXLINUX?

[2022-08-17 15:54] ajlennon commented on #146
Yeah I am building out of sources from manifest `imx-5.10.72-2.2.0.xml`

[2022-08-17 16:00] jwinarske commented on #146
I'll add a CI job to kirkstone branch.  LTS is the way to go as security updates are more frequent.

[2022-08-17 16:00] ajlennon commented on #146
Yes - I've been working on kernel patches to support a new MIPI display so don't really want to rejig everything. Just want to get Flutter on there so a client can take a look and see if they fancy using it for the UX work.

[2022-08-17 16:01] ajlennon commented on #146
Yes I want to be on Kirskstone LTS for the forseable future too :smile:

[2022-08-17 16:09] ajlennon commented on #146
Your fork failed to build here for me too @Gmatarrubia. Maybe I'll try syncing to the kirkstone repo then....

[2022-08-18 09:53] ajlennon commented on #146
Building `kirkstone` now and getting the same errors. I wonder what is going on :(

[2022-08-18 10:55] ajlennon commented on #146
Guess I need to work out what the difference is between here and the CI

[code]

[2022-08-18 11:40] jwinarske commented on #146
@ajlennon when switching branches be sure to run a clean build - clean sstate for all related flutter recipes, and remove any cached download files.  The difference could also be in the build/host environment.  Using a container makes it easier to isolate issues like this.  Your best bet is to attempt to replicate the CI pattern.

[2022-08-18 11:42] ajlennon commented on #146
I removed the build folder and did a clean build. I am using a container forked from imx-docker

https://github.com/DynamicDevices/imx-docker

I might _possibly_ have cached download files somewhere...

[2022-08-18 11:42] ajlennon commented on #146
One other odd thing is the fetching seems to take an absolute age

[code]

[2022-08-18 11:43] ajlennon commented on #146
This seems to be the error

![image](https://user-images.githubusercontent.com/1537834/185386695-27a3a3d1-2e4f-4efd-99c8-a221054456e7.png)

[2022-08-18 12:06] jwinarske commented on #146
The fetch will use cached download folder file if present.  If you use a stale download directory (switching branches) problems might arise.

Looks like maybe one of the deps repos is not present.

Have you tried running repo unit of the same version manually?  If one of the deps disappeared online, it would repo via manual engine build.

The other is to try not to fix the flutter SDK to this vers

[2022-08-18 12:07] jwinarske commented on #146
Meaning remove `FLUTTER_SDK_TAG = "2.10.4"` from your local.conf, and run a clean build.

[2022-08-18 12:08] ajlennon commented on #146
I've removed the downloads folder and am trying the build again now

Next I'll remove the `FLUTTER_SDK_TAG = "2.10.4"`

I'll also have a look at the CI workflow and see if I can spot some difference

[2022-08-18 12:20] gencay3535 commented on #144
Hello, were you able to push the newer version with .bbclassextension?

[2022-08-18 12:22] gencay3535 commented on #144
and another question is I am really new to this area so, I should write a recipe for my flutter project and then built it with my image am I correct?

[2022-08-18 12:57] jwinarske commented on #145
@mortenboye Just getting back from vacation myself.

The new pattern should look like this:

my-app_git.bb

[code]

local.conf

New override specifier
[code]

Old override specifier
[code]

Runtime deps are implicit installs.  So no need to select the engine to be installed.

[2022-08-18 13:01] jwinarske commented on #144
@gencay3535 You will want to follow this pattern:
https://github.com/meta-flutter/meta-flutter/issues/145#issuecomment-1219460731

Also please open new issue if your questions are unrelated to an open issue.  Something like `trouble building app into image`.

[2022-08-18 13:06] ajlennon commented on #146
Removing the downloads folder didn't help.

BUT with the `FLUTTER_SDK_TAG = "2.10.4"` removed it's now compiling !!!

[2022-08-18 13:15] ajlennon commented on #146
I agree - I suspect they've broken something upstream

[2022-08-18 13:17] jwinarske commented on #146
@ajlennon Cool, glad you're unblocked.  It can be frustrating!

[2022-08-18 13:17] #146 closed

[2022-08-18 13:19] ajlennon commented on #146
That's the nature of all this stuff eh! I really appreciate you jumping in and responding thanks. Will confirm shortly that my image builds and runs up OK...

[2022-08-18 13:45] gencay3535 opened #149 "flutter-engine-runtimerelease-git-r0 do_unpack: Bitbake Fetcher Error"
So I tried to install flutter gallery app,
I added this line to my local.conf

`IMAGE_INSTALL:append= "flutter-gallery-runtimerelease"`

and when I try to build it throws this error:
[code]

I am on kirkstone branch so do you have any idea?

[2022-08-18 14:19] jwinarske commented on #149
Do you have the tool installed on host that packs/unpacks the archive?

[2022-08-18 14:21] jwinarske commented on #149
What does this file look like running `ls -la`?  Is it a valid file, and can you open it from nautilus?
${DL_DIR}/gn/https__github.com_flutter_engine.git-e85ea0e79c6d894c120cda4ee8ee10fe6745e187.tar.bz2

[2022-08-18 14:32] gencay3535 commented on #149
Yes I can open it /./src/flutter/ it has this kind of files.

[2022-08-18 15:53] jwinarske commented on #146
@ajlennon One other thing for Kirkstone your local.conf would want this:

IMAGE_INSTALL:append = "\
    ivi-homescreen-runtimerelease \
    flutter-gallery-runtimerelease \
    flutter-pi-runtimerelease \
"

Also I would use fsl-imx-wayland distro, and remove x11 from DISTRO_FEATURES unless you have a hard requirement on X11.

I started a CI pipeline here (it's not done yet - later):
https://githu

[2022-08-18 15:56] ajlennon commented on #146
Thanks will try this - I suspect I need `flutter-engine-runtimerelease` though?

[2022-08-18 15:58] jwinarske commented on #146
installation of runtime dependencies are implicit.  So no it's not needed.

[2022-08-18 15:59] ajlennon commented on #146
OK - but I shouldn't need `flutter-pi-runtimerelease` should I?

[2022-08-18 16:03] jwinarske commented on #146
Only if you want DRM support.  I just had that as an example of the bbclass extension logic.

[2022-08-18 16:05] ajlennon commented on #146
What I mean is this seems to be for a Raspberry Pi and I am on an i.MX8M Mini so I won't want the Pi stuff will I?

[2022-08-18 16:09] jwinarske commented on #146
It runs on most targets that require DRM support.  The name is misleading.  At some point I will be adding DRM support into homescreen/flutter-auto.  Not all use cases need a compositor.

Just ignore my suggestion to add it :)

[2022-08-18 16:09] ajlennon commented on #146
AHA! OK :)

[2022-08-18 19:16] jwinarske commented on #146
Kirkstone CI is passing:  https://github.com/meta-flutter/meta-flutter/actions/runs/2884740773

Interestingly DISTRO_FEATURES includes vulkan by default, which means ivi-homescreen will default to the Vulkan backend.  If you want EGL backend, you would either remove vulkan from DISTRO_FEATURES, or override the package config of ivi-homescreen.

[2022-08-19 06:08] gencay3535 commented on #149
![image](https://user-images.githubusercontent.com/110680460/185554127-3c9418e6-d8c3-4017-bc06-48301c02dba5.png)
Here is the error when I try to extract myself.

[2022-08-19 10:38] ajlennon commented on #146
I'm not really sure about the different backends to be honest. Should I be removing vulkan in favour of EGL do you recommend?

[2022-08-19 14:26] gencay3535 commented on #144
Any updates about this problem?

[2022-08-19 14:50] ajlennon commented on #146
I've got it all built which is great. I see `flutter-pi` on there which is good.

I've tried to build the debug bundle for the gallery from the README https://github.com/ardera/flutter-pi

[code]

But when I try to run I get

`[flutter-pi] Could not find "kernel.blob" file inside "/home/root/flutter_assets/data/flutter_assets/", which is required for debug mode.`

I wondered if you have any idea h

[2022-08-19 15:14] jwinarske commented on #146
For flutter-pi I apply a path so it matches the rest of the embedders in meta-flutter:
https://github.com/meta-flutter/meta-flutter/blob/kirkstone/recipes-graphics/flutter-pi/files/0001-path-updates.patch
This follows the "bundle" pattern also seen with the Linux GTK embedder:

<bundle folder>
    data/flutter_assets
    lib/libapp.so <if runtimerelease used>

pass the bundle folder to flutter-pi

[2022-08-19 15:17] jwinarske commented on #146
Also heads up I have a script in the works that setups a Flutter Workspace and will do this setup auto-magically:
https://github.com/meta-flutter/meta-flutter/tree/jw/custom-devices/tools

[2022-08-19 15:20] jwinarske commented on #149
I have a PR in the works which adds kirkstone stm32mp15 CI job.  It's not my top priority but it may give you some clues until it's done.

https://github.com/meta-flutter/meta-flutter/pull/150

[2022-08-19 15:22] MEd-Douiri commented on #144
Hello, do_install task it use network in this line (echo ${@get_flutter_sdk_version(d)} >> ${D}${datadir}/flutter/sdk/flutter_sdk.version). So  try to add this line in flutter-engine_git.bb file:

   do_install[depends] += "zip-native:do_populate_sysroot"
+ do_install[network] = "1"

[2022-08-19 15:31] ajlennon commented on #146
ok thanks it looks like that patch is what the Flutter "gallery" is having trouble with then?

I'm building this here and have new problems now! Maybe this is as I am now following upstream master

![image](https://user-images.githubusercontent.com/1537834/185654138-325ceef9-f8e0-4e3a-92de-df67e0956293.png)

[2022-08-19 16:02] jwinarske commented on #146
The patch is automatically applied as part of the flutter-pi recipe.

You just need to format your folder on target to match the bundle format I laid out above.

If you include `flutter-gallery-runtimerelease` in your image, you would just run `flutter-pi /usr/share/flutter/gallery`.  It may want --release, I haven't played with it in a while.

I would only demo AOT images (runtimerelease), as it'

[2022-08-19 16:17] ajlennon commented on #146
OK so I think we have two different things happening

- when I build the gallery bundle on my host it seems to be in a different format from the data/lib format you are patching the flutter-pi to use. I've updated flutter on my host to latest so I'm obviously not understanding something about why there are different bundle formats

- coincidentally it looks as though upstream flutter may have just

[2022-08-19 16:30] ajlennon commented on #146
I think it's this commit they've just upt into flutter-pi

https://github.com/ardera/flutter-pi/commit/cf57b52a5848439dd4a53b657cbcb06706340ee9#diff-eca2e37422698db262830c966c5532d6b07452df497e85ccda83fd2315f78089

[2022-08-19 17:03] ajlennon commented on #146
OK this is what I get with `flutter-pi /usr/share/flutter/gallery`

[code]

[2022-08-19 17:20] ajlennon commented on #146
I had to add in three symlinks so it finds the files

[code]

![image](https://user-images.githubusercontent.com/1537834/185673522-d9946c69-9ae2-4a76-809e-3c4ba5f7fea5.png)

[2022-08-19 17:33] jwinarske commented on #144
@MEd-Douiri If you take a look at the run.do_install script that bitbake creates you will see that is not the case.  The GN call gets made when run.do_install is created, adding `++do_install[network] = "1"` is not a fix.

[code]

[2022-08-19 17:35] jwinarske commented on #144
@bojidartonchev Since I'm not seeing this in daily CI runs I'm closing this.  Feel free to re-open if you have a sequence I can replicate to repo the issue.

[2022-08-19 17:38] #141 closed

[2022-08-19 17:44] jwinarske commented on #145
@mortenboye
The other scenario that can be confusing.  If you build image that include flutter-pi-runtimerelease, then you have to supply valid AOT image in the proper place.

I patch flutter-pi so that it matches the bundle folder layout.  This originates from the Linux Desktop build support.  The format looks like this:

[code]

if debug:
`flutter-pi <bundle folder>`

if release:
`flutter-pi <bu

[2022-08-19 18:10] ajlennon opened #151 "Error compiling for IMX7ULP"
I get the following trying to compile for MACHINE=imx7ulp

Something about `gbm` not being found

[code]

[2022-08-19 18:33] jwinarske commented on #151
@ajlennon does that part have a GPU?

[2022-08-19 18:57] jwinarske commented on #146
I see.  It looks like flutter-pi currently expects the contents of flutter_assets in the root of the bundle folder.  I will fix that to match the bundle pattern.  Thanks for the input, very helpful.

[2022-08-19 20:14] ajlennon commented on #151
It does oddly enough - we designed a board with it I am trying to get going as it's one of the few of this series that have GPU acceleration so can run Android

[2022-08-19 20:15] ajlennon commented on #146
Glad to be of help :pray:

[2022-08-19 20:27] jwinarske commented on #151
Interesting.  What are the DISTRO_FEATURES for your build?

[code]

[2022-08-19 20:28] ajlennon commented on #151
`DISTRO_FEATURES="acl alsa argp bluetooth debuginfod ext2 ipv4 ipv6 largefile pcmcia usbgadget usbhost wifi xattr nfs zeroconf pci 3g nfc  vfat seccomp largefile opengl ptest multiarch    systemd wayland pam systemd pulseaudio gobject-introspection-data ldconfig"`

[2022-08-19 20:38] jwinarske commented on #151
That looks right.  You need to determine what recipe provides gdm, and add that via a bbappend (e.g. `flutter-pi-runtimerelease.bbappend`)

ivi-homescreen builds?

[2022-08-19 21:37] jwinarske opened #152 "flutter pi recipe is currently broken"
Patch is failing due to upstream churn.

I will be locking to a commit instead of using AUTOREV.

Also the bundle folder is not properly replicated with flutter-pi.

[2022-08-19 21:39] ajlennon commented on #151
Yes that builds. Having the devil of a job working out where gbm is supposed to be coming from. Maybe mesa

[2022-08-19 21:45] jwinarske commented on #151
Yeah there's a couple other vendors that have similar scenario.  Some require additional libraries etc.  bbappend is your friend in these cases, also a good place to add the system/user service logic.

[2022-08-19 21:51] jwinarske commented on #151
It's also possible flutter-pi needs adjustment.

@ardera What about targets that don't have gdm package?

[2022-08-19 22:37] ardera commented on #151
Not sure about the iMX7, but on iMX6 you had to do some strange things to get a rendering surface from the graphics driver, it's completely different to the KMS/GBM way that flutter-pi normally uses. (Basically they have an `fbdev` driver with extra steps). On iMX8 KMS/GBM is supported. Could be iMX7 still only has the old interface, which would explain why there's no `libgbm`.

For example, qt ha

[2022-08-19 22:42] jwinarske commented on #151
@ardera Makes sense, thanks!

[2022-08-19 22:43] jwinarske commented on #151
@ajlennon So possibly not supported at this time.  What Hannes provided should be enough to create a patch.

[2022-08-19 23:06] ajlennon commented on #151
I had a go at running the `ivi homescreen` with the gallery bundle on the i.MX8M Mini. Seems to seg-fault.

![image](https://user-images.githubusercontent.com/1537834/185717827-e46a553a-6fab-4538-ac5f-52291d992e69.png)

[2022-08-19 23:26] ajlennon commented on #151
Hmm - it is building `ivi-homescreen` with `-DBUILD_BACKEND_WAYLAND_VULKAN=OFF` so I'm unsure why it seems to be looking for the vulkan shared libraries before it segfaults

![image](https://user-images.githubusercontent.com/1537834/185718952-434845a9-cd6c-4f63-95ba-e07462914345.png)

[2022-08-19 23:29] jwinarske commented on #151
@ajlennon remove vulkan from DISTRO_FEATURES in local.conf and it will build EGL backend.

[2022-08-19 23:32] ajlennon commented on #151
There's no vulkan in DISTRO_FEATURES and I can see in the devshell it is building with `-DBUILD_BACKEND_WAYLAND_VULKAN=OFF`

`DISTRO_FEATURES="acl alsa argp bluetooth debuginfod ext2 ipv4 ipv6 largefile pcmcia usbgadget usbhost wifi xattr nfs zeroconf pci 3g nfc  vfat seccomp largefile opengl ptest multiarch    systemdgbm wayland pam systemd pulseaudio gobject-introspection-data ldconfig"`

[2022-08-19 23:36] jwinarske commented on #151
hmm.  That's not right.  I'll have to take a closer look on Sunday.  There has been a bit of churn lately for AGL release.  Things should be stable again by next Friday.  There are lots of moving parts :)

[2022-08-19 23:50] ajlennon commented on #151
Hmm this does't look like it should be in there

![image](https://user-images.githubusercontent.com/1537834/185720526-7cdb23d1-694a-42db-99d4-9abadd77efaf.png)

[2022-08-20 08:34] ajlennon commented on #151
My mistake! I confused myself between my imx8mmevk and imx7ulp builds. Vulkan was in DISTRO_FEATURES for imx8mmevk as you thought and with that removed I can now run up ivi_homescreen! So will try and build this for the imx7ulp

![image](https://user-images.githubusercontent.com/1537834/185736496-8dcf6cc7-2b28-4d1e-88c9-ddc2d98da14b.png)

[2022-08-21 06:47] Pengli2208 opened #153 "depot-tool-native , bitbake error"
hi
I am using dunfell branch to build basic image with flutter-pi support in raspberrypi4-64;

use bblayer, below
  /home/yocto/poky/meta \
  /home/yocto/poky/meta-poky \
  /home/yocto/poky/meta-yocto-bsp \
  /home/yocto/poky/meta-raspberrypi \
  /home/yocto/poky/meta-openembedded/meta-oe \
  /home/yocto/poky/meta-openembedded/meta-python \
  /home/yocto/poky/meta-openembedded/meta-multimedia \

[2022-08-21 17:07] jwinarske commented on #153
@Pengli2208

I'll spin the `dunfell` CI jobs and see if I get a repro.

I'm using the same config for `depot-tools-native` in `kirkstone`, and those are running clear short of a new flutter-pi patch issue.

[2022-08-21 18:22] jwinarske commented on #153
Looks fine:
https://github.com/meta-flutter/meta-flutter/actions/runs/2899276257

Something about your build environment.

[2022-08-21 18:27] jwinarske commented on #149
Also if you cancel a build mid-build chances are you may need to clean the build environment.  This is a standard Yocto thing.

[2022-08-21 18:29] jwinarske commented on #151
I am closing this as flutter-pi issue.  Feel free to re-open as needed.

[2022-08-21 18:29] #151 closed

[2022-08-21 18:31] #153 closed

[2022-08-21 18:38] gencay3535 commented on #149
Yep that worked for this error but I still get the do_install error, I am trying with this CI job now #150 . Thank you  so much.

[2022-08-21 18:38] #149 closed

[2022-08-22 01:30] jwinarske commented on #152
Fixes patching error (recent upstream changes broke this)
https://github.com/meta-flutter/meta-flutter/actions/runs/2899282247

Next needed is correcting the flutter_asset path.  It's currently looking at bundle root, opposed what it should be:

    {bundle root}/data/flutter_asset

@bojidartonchev

[2022-08-22 07:51] gencay3535 commented on #149
may I ask why are you using clang12 instead of master branch?

[2022-08-22 09:46] mortenboye commented on #145
I believe I am.
I can run my app in --release mode (although with missing fonts), but in debug I still get the
`'FlutterEngineInitialize' returned 'kInvalidArguments'. Not running in AOT mode but could not resolve the kernel binary.
[flutter-pi] Could not initialize the flutter engine. FlutterEngineInitialize: Invalid arguments.`
error.

I will double check everything and return if I need more ass

[2022-08-22 11:23] jwinarske commented on #149
I generally track clang version to what the flutter engine is currently at.  10 is too old, and I avoid master as it's not considered stable; and subject to change.  Clang kirkstone is 14 I believe, and kirkstone-12 is 12.  I haven't largely tested all the recipes against 14; little to no test mileage.  Why do you ask?

[2022-08-22 12:38] jwinarske commented on #145
Someone else reported flutter-pi issue, which looks like the bundle path is out of whack.  Looking upstream it looks like this area was being played with.

Try copying contents of <app>/data/flutter_assets/* to <app> and let me know what you get.

[2022-08-22 12:46] jwinarske commented on #149
Actually I just went through the combos.  I am using clang `kirkstone` in a number of scenarios already.
1. AGL builds use clang kirkstone
2. rpi-zero2w-64 CI job uses clang kirkstone
3. Dragon Board uses master (changing to kirkstone)
4. imx CI is using clang kirkstone.

Technically Dragon Board CI is providing some limited test mileage for clang master.

[2022-08-22 13:01] jwinarske commented on #149
I just made a commit to kirkstone for the linux-dummy CI job from `kirkstone-12` to `kirkstone`.  So all kirkstone CI is using clang `kirkstone`

now.https://github.com/meta-flutter/meta-flutter/commit/67b6816a4f963f85ad7f62ff7aebced2613f3b67

[2022-08-22 14:06] gencay3535 commented on #149
Thank you for your answer, and when can you checkout the CI job for the stm32mp1 with the kirkstone branch?

[2022-08-22 15:22] jwinarske commented on #146
`honister` is now at parity with `kirkstone`

[2022-08-22 15:29] ajlennon commented on #151
Having done some experimenting with homescreen I feel I'd really like to have a more basic image (based on core-image-minimal) and use flutter-pi. Seeing the comments above about the surface and libgbm I'm wondering if there might be a place I can pull libgbm from to try to get this going simply?

[2022-08-22 15:40] jwinarske commented on #151
I would start by asking the NXP support forum about KMS/GBM support for your part in Yocto.  It might be in a side branch, it might not exist, or it might be supported by adding variable to local.conf.

While waiting for an answer perhaps dig around in the kernel pulled in by the specific yocto build.  I am suspecting Hannes's point about it possibly using prior Vivante support is most likely the

[2022-08-22 15:42] ajlennon commented on #151
okie ta. will have to leave it for a bit. got some integration work to do first and the imx7ulp support is more a fun project than a need for the client atm

[2022-08-22 17:48] ardera commented on #151
@ajlennon Forgot to mention this, you can try using `etnaviv` instead of the proprietary (`galcore`) Vivante driver. That should work with flutter-pi. Could be you can choose that somewhere in the yocto setup. In buildroot at least you could just choose `etnaviv` in the options and it worked.

Etnaviv is [not perfect though](https://mesamatrix.net/), it's the mesa driver with the least support (ex

[2022-08-22 21:02] jwinarske opened #158 "[honister] rpi3 (32-bit) - flutter-pi"
Build is failing with:

[code]
It only happens on rpi3 32-bit build.

@ardera Have you ran into this one before?

[2022-08-22 21:06] ardera commented on #158
That field is there for 6 months now: https://github.com/flutter/engine/blame/cd119976dcc943dba362d5e99cdfe448521722ce/shell/platform/embedder/embedder.h#L1188-L1190

any chance it's running with an old `embedder.h` somehow?

[2022-08-22 21:27] jwinarske commented on #158
Yeah that's what I was thinking.  All the other jobs build flutter-pi, and reference the same header; no issue.  I'll dig a bit deeper.  Thanks.

[2022-08-23 01:19] jwinarske commented on #158
My bad.  https://github.com/meta-flutter/meta-flutter/pull/159

[2022-08-23 01:19] #158 closed

[2022-08-23 12:03] bojidartonchev commented on #144
Unfortunately even after `bitbake -c do_cleansstate flutter-engine-runtimerelease` do_install fails with the same error. However after adding the `do_install[network] = "1"` to flutter-engine_git.bb it worked. I think it is needed for get_flutter_sdk_version.

[2022-08-23 12:35] bojidartonchev commented on #145
So I checked your setup, and indeed using `IMAGE_INSTALL:append = "my-app-runtimerelease"` the fonts are missing. However copying the content of `<app>/data/flutter_assets/*` to `<app>` fixes that.

`cp -r /usr/share/flutter/<app>/data/flutter_assets/* /usr/share/flutter/<app>`

@mortenboye For debug, could you try adding the right engine binaries, using runtimedebug?
`IMAGE_INSTALL:append = "my-a

[2022-08-23 13:13] jwinarske commented on #145
@bojidartonchev There is no need to explicitly add the engine flavor to the image.  It's explicitly included as it's a runtime dependency.  If you try to mix variants in the image, the image build will fail.

@mortenboye Can you clarify the problem better?

[2022-08-23 14:11] mortenboye commented on #145
@jwinarske and @bojidartonchev thank you both for the guidance.

It seems that copying `flutter_assets/*` to `/<app>` did the trick for me.

My image recipes are now

[code]

and

[code]

respectively.

Can I fix the bundle path issue myself or should I wait for a fix?

[2022-08-23 14:16] jwinarske commented on #145
@mortenboye I should have a fix into kirkstone and honister by tomorrow AM PST.

[2022-08-24 05:03] jwinarske commented on #152
It has been confirmed on two counts flutter_pi is pointing to the wrong folder for flutter_assets.

[2022-08-24 05:04] jwinarske commented on #145
Closing in favor of https://github.com/meta-flutter/meta-flutter/issues/152

[2022-08-24 05:04] #145 closed

[2022-08-24 15:16] jwinarske commented on #152
https://github.com/meta-flutter/meta-flutter/pull/160

[2022-08-24 15:28] jwinarske commented on #145
I won't have time to smoke test till later.  If you do that would be great.
https://github.com/meta-flutter/meta-flutter/pull/160

[2022-08-24 19:52] jwinarske commented on #152
Smoke test passed

[2022-08-24 19:52] #152 closed

[2022-08-24 19:52] jwinarske commented on #145
Smoke test passed, and fix merged to kirkstone

[2022-08-24 20:00] jwinarske commented on #152
Change pushed to honister

[2022-08-25 01:11] jwinarske commented on #149
I'm looking at the kirkstone CI now.  It just passed the eglfs st-core-image and SDK builds.  Looks promising.

[2022-08-26 20:35] collinbrake opened #164 "Workspace Setup Fails on OpenSSL Dependency"
Hi,

I am trying to run the Flutter workspace setup script as described here: https://github.com/meta-flutter/meta-flutter/blob/kirkstone/tools/README.md

Ubuntu 20.04 x86_64 desktop, x11.

The below error occurs when I run `./setup_flutter_workspace.py`:

[code]
The error states that `openssl/ssl.h` is missing, so I ran

`sudo apt-get install libssl-dev`

per [the instructions here](https://stack

[2022-08-26 21:05] jwinarske commented on #164
@collinbrake hey thanks for the report.

I'll add the dependency for `libssl-dev`.

[2022-08-26 21:17] jwinarske commented on #164
Checked in: https://github.com/meta-flutter/meta-flutter/commit/8520df7f2f177bd94c1db62cb6e77ded984b56cb

[2022-08-26 21:17] #164 closed

[2022-08-26 23:07] jwinarske commented on #36
@ardera Looking at this one again.  It looks like things are getting better for the stm32mp157f-dk2 Discovery board.

Latest log.  It might be good to have a log mode where it logs a given message only once.  OpenCV has something like this.

I can crudely navigate using the keyboard.  Mouse seems to be the key issue.

[code]

[2022-08-28 11:20] ardera commented on #36
@jwinarske Yeah I know that issue, that happens when hardware cursor is not supported by the GPU. I didn't really handle that path previously. It's fixed in the [`feature/ti-am62x`](https://github.com/ardera/flutter-pi/tree/feature/ti-am62xx) branch.

Though, if your GPU doesn't support hw cursors and you still want a mouse cursor, you'll have to use a workaround like https://gist.github.com/arder

[2022-08-28 12:18] jwinarske commented on #105
Adding workaround to tools/setup_workspace_flutter.py.
Also honister is at parity with kirkstone.

[2022-08-28 12:52] ardera opened #167 "profile mode sets dart.vm.product to true"
Hey @jwinarske ,

it seems like the flutter-app template will set the dart define `-Ddart.vm.product=true`, regardless of whether the app is being built in profile or release (product) mode.

However, when building apps with the flutter SDK, the flutter SDK will only set that define to true when actually building in release mode. This is the verbose build log in profile mode:

<details>

[code]

<

[2022-08-28 16:24] jwinarske commented on #167
@ardera I'll spin a profile build for zero2w and take a look.  It's been a while.

[2022-08-28 19:02] jwinarske commented on #167
@ardera this job has the proposed change, including profile image.  Will smoke check later.
https://github.com/meta-flutter/meta-flutter/actions/runs/2943922014

[2022-08-28 19:17] ardera commented on #167
@jwinarske thanks for the fast fix :+1:

[2022-08-28 20:16] ardera commented on #167
Could be the recipe also needs to use `flutter_patched_sdk` instead of `flutter_patched_sdk_product` for profile mode. Still can't see the observatory with `-Ddart.vm.product=false`

[2022-08-28 22:45] jwinarske commented on #167
Just respun with change.  You might also need to pass `--start-paused` to the VM.

[2022-08-29 05:21] jwinarske commented on #167
I just tested `weston-profile` from this run:
https://github.com/meta-flutter/meta-flutter/actions/runs/2944815808

Setting up WiFi via `nmcli`, I can connect to flutter-auto and flutter-pi observatory.

flutter-auto with weston enabled:
[code]

flutter-pi with weston disabled:
[code]

To disable weston compositor:
[code]

[2022-08-29 09:09] ardera commented on #167
Okay I didn't test the `jw/ci_zero2w` branch but I applied the same changes to dunfell locally and it works, so I guess once this goes into dunfell and kirkstone it's fixed. Thanks 👍

[2022-08-29 09:18] ardera commented on #167
btw, just for reference, I used `flutter attach --device-url <observatory-url>` to get a devtools instance connected to the profile mode app. Just launching the devtools (using `dart devtools`) and entering the observatory url there is not enough (at least it wasn't in my case)

[2022-08-30 00:25] jwinarske commented on #167
https://github.com/meta-flutter/meta-flutter/pull/168

[2022-08-30 00:25] #167 closed

[2022-08-30 00:48] jwinarske commented on #167
`honister` was cherry picked from `kirkstone`
`dunfell` gets https://github.com/meta-flutter/meta-flutter/pull/170

[2022-08-31 14:50] jwinarske opened #173 "[stable] 3.3.0 breaking changes"
As of last night stable rolled and broke a large number of things.

-two patches are failing.  Both removed.
-32-bit engine build is now broken.  No time to triage - Saturday.
-linux test plugins is failing to build

Best solution is to pin the flutter SDK to the stable release version from yesterday, until I get it sorted out when I'm back in town.

[2022-09-04 00:51] jwinarske commented on #173
The recommended workaround for 32-bit is to pin FLUTTER_SDK_VERSION to 3.0.5

[2022-09-07 12:35] gencay3535 opened #176 "Failed to connect to Wayland display. No such file or directory"
Hello, I built the image for stm32mp15 and flashed it. I wanted to run flutter gallery, so from /usr/share/flutter I run
`flutter-auto --w=800 --h=600 --b=/usr/share/flutter/gallery/`
it come out as below:
`[INFO:configuration.cc(248)] **********
[INFO:configuration.cc(249)] * Global *
[INFO:configuration.cc(250)] **********
[INFO:configuration.cc(251)] Application Id: .......... flutter-auto
[INF

[2022-09-07 12:40] jwinarske commented on #176
You're trying to run the app from root.

From root do
[code]
Then login as weston, then try again.

If you're using custom-device support via tools/setup_flutter_workspace
This happens automatically.

See the pattern here:
https://github.com/meta-flutter/meta-flutter/blob/kirkstone/tools/flutter_workspace_config.json#L88

[2022-09-07 13:45] gencay3535 commented on #176
Okay I switched user, and when I do
`weston --use-pixman`
I get this:
`Date: 2022-04-28 UTC
[21:26:22.502] weston 10.0.0
               https://wayland.freedesktop.org
               Bug reports to: https://gitlab.freedesktop.org/wayland/weston/issues/
               Build: 10.0.0
[21:26:22.503] Command line: weston --use-pixman
[21:26:22.503] OS: Linux, 5.15.24, #1 SMP PREEMPT Wed Feb 16 11:56:41

[2022-09-07 13:58] jwinarske commented on #176
I'm confused, why are you running `weston --use-pixman`?

If the image is built correctly weston (the compositor) will be running as a session under the `weston` user, and you will see a desktop.

Just login as user `weston` remote or local and run `flutter-auto --w=800 --h=600 --b=/usr/share/flutter/gallery`

Alternatively open a terminal from the desktop and run `flutter-auto --w=800 --h=600 --b

[2022-09-07 14:13] jwinarske commented on #173
kirkstone has been pinned to FLUTTER_SDK_VERSION 3.0.5, opposed to stable tip of tree.

[2022-09-07 14:22] gencay3535 commented on #176
This is my local.conf I removed two recipes because they were giving fetcher error:
`ACCEPT_EULA_stm32mp15-disco = "1"
IMAGE_LINGUAS = "en-us"
TOOLCHAIN_HOST_TASK:append = " nativesdk-flutter-sdk"
CLANGSDK = "1"
DISTRO_FEATURES:remove = " x11 "
PACKAGECONFIG:pn-flutter-auto-runtimerelease = "backend-egl mouse-cursor package-info secure-storage text-input texture-test-egl"
IMAGE_INSTALL:remove = "

[2022-09-07 15:31] jwinarske commented on #176
If from serial console type `exit` to logout of terminal, then at login prompt enter `weston`.  Then run the command.

If in desktop open terminal, and run the command.

This may also be useful:
https://github.com/meta-flutter/meta-flutter/wiki/Weston-Compositor-Notes

[2022-09-07 15:47] jwinarske commented on #144
@bojidartonchev I don't get a repro of this in my build matrix.  I need more information.

Did you try commenting out these two lines (not adding `do_install[network] = "1"`):
[code]

[2022-09-07 20:17] jwinarske commented on #144
Until there is a root cause:  https://github.com/meta-flutter/meta-flutter/pull/177

[2022-09-07 20:33] #144 closed

[2022-09-08 03:51] jwinarske commented on #26
Adding a note.  There is a software rendering interface in the engine header file.  This is doable to implement but the tuning for CPU archa would take a fair amount of work.  It requires someone who is motivated to help the cause, or motivated by a full time job.  The BOM cost + NRE to develop support might be the same amortized BOM cost of a better GPU SoC (no NRE).

[2022-09-08 08:34] #176 closed

[2022-09-08 13:25] gencay3535 commented on #176
Finally I can see the gallery app running but it runs a little bit slow. Here is the [video](https://1drv.ms/v/s!AtjdUEfjBNnoh0mLik-4aTNPIgOt?e=GeXoQA) if you want to see it. Is it running on cpu or gpu?

[2022-09-08 13:49] jwinarske commented on #176
Which build variant are you running?  Release/AOT?

If the Weston service is using `--use-pixman` then it's CPU.

Keep in mind this is an 800mHz (newer parts) 32-bit device, and the gallery app is pretty storage/memory heavy.  Perhaps try the flutter-app-igalia-homescreen recipe out; more of a simple design.

The other thing in question is the SD card bandwidth on the disco boards.  I think an eMM

[2022-09-08 14:33] jwinarske commented on #176
For testing on the STM32MP157F-DK2 I generally always use external HDMI monitor, and USB mouse.  It avoids touch controller, and display (platform specific) issues.

[2022-09-09 03:09] jwinarske commented on #173
Validated this PR fixes issue: https://github.com/flutter/engine/pull/36009#event-7352852112

Waiting on cherry pick to merge to stable.

[2022-09-09 08:55] gencay3535 commented on #176
Yes, igalia-homescreen works much smoother. I am running release version. Is there any way to choose to run from cpu or gpu and when I use `systemctl status weston` from root it says `Unit weston.service could not be found`. Is it normal for this build?

[2022-09-09 10:55] gencay3535 commented on #176
when I `cat /etc/default/weston` it returns `WESTON_USER=weston` so I think this means, gpu is being used?

[2022-09-09 12:48] jwinarske commented on #176
What about `systemctl status weston@weston` or `systemctl status weston@root`?

[2022-09-09 12:49] jwinarske commented on #176
`weston-info` may also be an option.

[2022-09-09 13:21] gencay3535 commented on #176
again `weston.service could not be found.`

[2022-09-09 13:50] jwinarske commented on #176
I'll boot an image later today and take a look

[2022-09-09 22:19] jwinarske commented on #176
It looks like the `weston-init` recipe is not being used.  The configuration is questionable.  Might be better to add on minimal Wayland to eglfs image.  I'll look into later.

`ps aux |grep weston`
[code]

`less /home/weston/weston.log`
[code]

Looks like GPU.  I think if they added eMMC to the disco board, the cost would go way up.  Unclear if the SD interface can handle 50MHz or greater, or wha

[2022-09-09 22:39] jwinarske commented on #176
Running gallery I'm seeing this kind of output in the system log:

[code]

I have no idea how well the STM32MP15 BSP has been optimized.  Based on the BSP, and some of the configs it's probably not that well optimized.

I would say it's fine for basic/simple stuff.  If you want an eye popping display, the STM32MP15 is not the right choice.  A NVidia or Qualcomm SoC would be a better choice for imp

[2022-09-09 22:43] jwinarske commented on #176
[code]

Weston is definitely using the GPU.

[2022-09-10 13:56] ajlennon opened #182 "Error building against the head of kirkstone branch"
I've had to move to a new system as the prior system failed. Have pulled the latest kirkstone but am getting an error

Any thoughts :)

![image](https://user-images.githubusercontent.com/1537834/189486683-8d6c7bf3-3dac-41c6-8d2f-69992048c359.png)

![image](https://user-images.githubusercontent.com/1537834/189486651-bb9c6f54-fdd3-4b1a-b8ea-7465726651d9.png)

[2022-09-10 14:07] jwinarske commented on #182
I'm about to merge 3.3.1 into kirkstone.  A few more CI jobs to go.

What's the build environment, and is this a clean room build?

Did you ever cancel your build mid-build?  If yes be sure to clear the stored state.

[2022-09-10 14:09] ajlennon commented on #182
Yes clean room build in Docker container with Ubuntu 22.04.01 LTS

[code]

[2022-09-10 14:23] jwinarske commented on #182
I haven't tried 22.04.  All the kirkstone CI is running 20.04 (this container):
https://github.com/meta-flutter/docker-containers/blob/main/ubuntu-20-dev/Dockerfile
The container is published as public, so you can pull it.

I periodically clean the server sstate and workspace folders, so regular clean room builds happen.  I've never hit this issue.

Generally any sign of corruption is related to k

[2022-09-10 14:41] ajlennon commented on #182
That did it thanks. I think I was telling you porky pies. I am doing a clean build here but I must have built then done a pull on meta-flutter kirkstone.

Cleaning the build demo app here got it all sorted out

`bitbake -c cleansstate flutter-gallery-runtimerelease`

Now trying to work out how to set up the workspace so I can do a test app build to run with flutter-pi on the i.MX8M Mini

Thanks ag

[2022-09-10 14:49] #182 closed

[2022-09-10 14:50] jwinarske commented on #182
Cool.  In workspace config the RPI zero config should work if you change the hostname to match yours.  Or just use it's ip address.

[2022-09-10 14:52] ajlennon commented on #182
Awesome! I'll be super pleased if I can get a little hello world app running on it :-D

[2022-09-10 15:01] jwinarske commented on #173
Merged 3.3.1 to kirkstone:
https://github.com/meta-flutter/meta-flutter/pull/181

[2022-09-10 15:01] #173 closed

[2022-09-10 15:01] ajlennon opened #183 "kirkstone: setup_flutter_workspace is failing"
Apologies but I have run into another problem here

Running `setup_flutter_workspace.py` seems to do quite a lot then errors with

![image](https://user-images.githubusercontent.com/1537834/189489200-89467ef4-5e4a-4980-97db-2af91f89e978.png)

[2022-09-10 15:05] jwinarske commented on #183
I'm pretty sure you're running the script from a VS Code terminal, as it looks like the Dart tool watcher is kicking in.

Be sure to run the script from a clean non-VS Code terminal.  Otherwise the VS Code tooling tries to do things before the workspace is ready.

[2022-09-10 15:05] ajlennon commented on #183
No I'm running from a vanilla terminal?

[2022-09-10 15:06] jwinarske commented on #183
The other thing to check is the number of flutter occurrences in your path.  The script will remove the first instance, but not more.

[2022-09-10 15:07] jwinarske commented on #183
Also be sure to pull on kirkstone, as I just merged updates to config and script.

[2022-09-10 15:07] ajlennon commented on #183
[code]

Will pull again now

[2022-09-10 15:08] ajlennon commented on #183
Flutter doctor does have some awareness of the VS code installation. Dunno if that's relevant

[code]

[2022-09-10 15:09] jwinarske commented on #183
Basically you have an instance of flutter running behind the scenes of the terminal which is causing the problem.  A full log would be helpful, opposed to a screen shot.  Just file drag into response window

[2022-09-10 15:14] ajlennon commented on #183
[ws.log](https://github.com/meta-flutter/meta-flutter/files/9540708/ws.log)

[2022-09-10 15:24] ajlennon commented on #183
ok this is interesting, so I

- removed the meta-flutter tree
- checked out kirkstone again
- ran  `../meta-flutter/tools/setup_flutter_workspace.py` from outside `meta-flutter`

And that seems to have completed!

[2022-09-10 15:27] ajlennon commented on #183
Hello World createed from the README and running locally

![image](https://user-images.githubusercontent.com/1537834/189490231-e71a13fd-a895-426f-8826-d5459cd538bf.png)

[2022-09-10 15:43] jwinarske commented on #183
Yeah one would want to use the Flutter Workspace as the origin of truth on a dev machine.  It's much more flexible, self contained, and the whole folder can be archived.  It has the same stuff as snap, serves a wider audience, with just a different delivery mechanism.

When you have multiple custom devices, and you don't specify the device using `--device-id=<custom device id>`, it will present a

[2022-09-10 15:45] ajlennon commented on #183
Sorry but I am super confused about my next step. I am trying `flutter build bundle` copying across and then running `flutter-pi` moving files around to fit with the `data` hierarchy but I get an error about debug versus release mode.

Ideally I guess I'd know how to set up a custom device in VS.code to automatically debug into `flutter-pi` with but I cant seem to find any docs for this?

[2022-09-10 15:48] jwinarske commented on #183
what variant are you running on the target?

[2022-09-10 15:50] ajlennon commented on #183
I followed the instructions in tools to create a hello world app. Then I did `flutter build bundle` which I thought would give me a debug bundle. Then I tried running that with flutter-pi on the target.

I've now just had a go at using the flutter command line to create a custom device and am trying

`flutter -d imx8mmini run`

Which is sort of sitting there atm

[code]

[2022-09-10 15:51] ajlennon commented on #183
ooooh it's copied the files across.

[code]

[2022-09-10 15:52] jwinarske commented on #183
This readme for `meta-agl-flutter` shows current usage of meta-flutter variants.
https://gerrit.automotivelinux.org/gerrit/c/AGL/meta-agl-devel/+/27976/5/meta-agl-flutter/README.md

If you have the configuration of your target correct prior to running the script, you would go into app folder and type:
`flutter run --device-id=<custom device id>`.

[2022-09-10 15:53] jwinarske commented on #183
To use `flutter run` the target needs to be running `runtimedebug` bits.

[2022-09-10 15:54] ajlennon commented on #183
With verbose enabled it's showing

[code]

Sorry I am not following `runtimedebug`

[2022-09-10 15:59] ajlennon commented on #183
I wasn't sure what to put in the SDK bit. Was hoping it defaulted to something but maybe that's where I've gone wrong

[code]

[2022-09-10 15:59] jwinarske commented on #183
[code]

If you have flutter-pi-runtimerelease on your target, then you can't use `flutter run`.  Dev image and demo/production/release image.

[2022-09-10 16:01] jwinarske commented on #183
The custom-device config just needs IP address and id changed.  If you keep the rest, it should just work - if you have `flutter-pi-runtimedebug` installed on your image.

[2022-09-10 16:01] ajlennon commented on #183
AHA! Brill thanks :) Will get on it. Really appreciate all your time and support Joel. I owe you a pint or non-alcoholic beverage of your choice!

[2022-09-10 16:23] jwinarske commented on #183
You may have done this already but adding for emphasis, after creating the workspace with `setup_flutter_workspace.py` you need to source the flutter workspace environment.

`source <my flutter workspace folder>/setup_env.sh`

setup_env.sh can be run from any folder.

[2022-09-11 04:32] jwinarske commented on #183
Then start VS Code from the terminal.
[code]
Then you can use the built in debugger, select device+app, and select the play transport icon to begin debugging.

[2022-09-11 04:32] #183 closed

[2022-09-12 07:15] gencay3535 commented on #176
We will be using eMMC on the custom board, hopefully it will be an in vehicle infotainment with a couple of gauges at the end of the project and we are planing to use flutter for the UI. Igalia-homescreen worked smoother and there was not any errors on the system log so what do you think would it be acceptable performance using stm32mp15 with flutter for a low cost system?

[2022-09-12 08:53] ajlennon commented on #183
So I have the `flutter-pi-runtimedebug` recipe built in now (`flutter-pi` seems to look the same when I run it). Still getting the same behaviour when I execute `flutter -d $DEVICE run` from the workspace tree though.

[2022-09-12 12:21] ajlennon commented on #183
Getting there slowly. I had to take out the `meta-flutter` `flutter-pi` file location patch and move `icudtl.dat`

` cp /usr/share/flutter/icudtl.dat /usr/lib`

That leaves me seeing some errors that look related to the display driver setup on the imx8mm

![image](https://user-images.githubusercontent.com/1537834/189651959-94ced4d7-da0e-4dad-bd0c-2b6465618655.png)

[2022-09-12 15:44] bojidartonchev opened #187 "How to include platform specific code in flutter application"
Hello,

Is there a way to include a platform specific code. Currently if I try to call the MethodChannel, I get MissingPluginException?

Best regards!

[2022-09-12 15:48] jwinarske commented on #176
@gencay3535
The STM32MP15 part is similar to a Qualcomm SoC from ~2008 (MSM720x).  The GPU is on par with lower end NXP iMX parts.  The point of flutter is around saving NRE and using commodity programmers.  If you use a low powered target, you don't really benefit from the NRE savings, more likely increase it as you have to train the platform specialists on Flutter/Dart.  Cost of ownership is aro

[2022-09-12 15:49] jwinarske commented on #187
@bojidartonchev Greetings

What embedder, generic use case scenario, and desired outcome?

[2022-09-12 15:50] jwinarske commented on #187
okay I think I understand.  You want to use 1P Linux plugins with one of the custom embedders?

[2022-09-12 15:59] bojidartonchev commented on #187
I have a MethodChannel with one function GetMacAddress, which uses platform specific c++ APIs. Is there a way to use that platform code with flutter-pi for example?

[2022-09-12 16:00] jwinarske commented on #183
The moving of icudtl.dat doesn't quite make sense, as I patch that in meta-flutter, and it works on release image.  Unless you're cross compiling flutter-pi tip of tree using Yocto SDK; as that would skip the patch.  So by default you just use the system installed icudtl.dat as-is, no copy.

The error around DRM makes sense.  Until I have leased DRM implementation merged, Weston needs to be disabl

[2022-09-12 16:24] ajlennon commented on #183
I think that'll be as I had to take the patch out for flutter-pi to work

https://github.com/meta-flutter/meta-flutter/blob/kirkstone/recipes-graphics/flutter-pi/files/0001-path-updates.patch

[2022-09-12 16:53] jwinarske commented on #183
Was that before or after https://github.com/meta-flutter/meta-flutter/pull/160 ?

[2022-09-12 17:13] jwinarske commented on #187
The model to augment flutter-pi/flutter-auto plugins:

1. fork repo in question
2. create your static plugin adding CMake flag to enable it
3. confirm build flag works as desired
4. create a new meta layer adding a minimum of this bbappend:
[code]

Pattern of bbappend contents
[code]

I just added support for this:
https://github.com/meta-flutter/meta-flutter/commit/1724903a9dc96bfbf7f1a1ddee4931d

[2022-09-12 17:55] ajlennon commented on #183
OK so I've just done a pull for the latest `kirkstone` #1724903a

I rebuild, then went to my `hello world` app in the host workspace and `flutter -d imx8mm install`

Then on the target

[code]
I can fix this by removing your patch, but then I also remove the patched location of the `icudtl.dat`

[2022-09-12 17:58] jwinarske commented on #183
using meta-flutter flutter-pi on target the pattern needs to follow the bundle folder structure:
<bundle folder>
  data
    flutter_assets
  lib
    libapp.so <release/profile>

`flutter-pi <bundle folder>`

[2022-09-12 18:33] jwinarske commented on #183
The bundle folder layout comes from the Linux GTK embedder post build folder structure.

It allows a number of things like overriding the `libflutter_engine.so` and `icuctl.dat` with custom versions.  flutter-auto implements these override paths and allows a desktop workflow that makes switching SDK versions independent of the target.  It can also be implemented on the target in a case of LTS.  Th

[2022-09-12 18:38] ajlennon commented on #183
Ok cool. I figured there must be a good reason for you doing it. Ok great I'll setup for this pattern.

Is the workspace config generated by the setup workspace script? Feels like it would ease things if the tool followed the pattern is so?

(Not asking others to do work for me! I could maybe have a go at a PR if the above is sensible? Or is there a reason the setup workspace script doesn't do thi

[2022-09-12 18:49] jwinarske commented on #183
The workspace config is separate and intended to be unique per organization.  If there is no config present then it just pulls stable and installs nothing else.

For the meta-flutter workspace config I will add custom devices for each platform in CI as I have time.

The current priority is getting things ready for upcoming AGL F2F workshop in Tokyo.  It will be recorded and freely available.

[2022-09-12 18:57] ajlennon commented on #183
Awesome. Not to pry but I'm suspecting you're heavily involved with the flutter community then?

[2022-09-13 04:57] jwinarske commented on #187
@bojidartonchev Does this make sense?

[2022-09-13 05:27] bojidartonchev commented on #187
@jwinarske Yes, I will give it a try today and will let you know the result. Thank you!

[2022-09-13 09:29] ajlennon commented on #183
OK so for anybody reading this, here's an example of a `flutter_workspace_config.json` that copies over files in the needed format

[code]

[2022-09-14 15:27] bojidartonchev commented on #187
It worked. Thank you!

[2022-09-14 15:27] #187 closed

[2022-09-16 10:13] bernardcraddock opened #190 "Error running setup_env.sh Channel unknown, 3.3.1."
Hello,
Yesterday i installed setup_flutter_workspace.py  within parallels Ubuntu  on my mac 12.6 and all went fine - very nice

Today I tried running setup_env.sh  which complained building flutter  with Channel unknown, 3.3.1.
and when running qemu_run a new window launches then immediately closes.

Today flutter bumped stable from 3.3.1 to 3.3.2 and i patched accordingly  as ped working fine

I

[2022-09-16 12:12] munoz0raul opened #191 "flutter-auto - backend-egl vs backend-vulkan"
Hello, I'm building flutter-auto with gallery example and it is just running if I disable `DISTRO_FEATURES:remove = "vulkan "`.

Could someone comment what is the difference between run flutter with vulkan or egl, which one is better?

[2022-09-16 13:00] jwinarske commented on #191
If your SoC supports Vulkan you can save up to 48% on your CPU load.  Vulkan is much more power efficient.  Which also gives you more CPU bandwidth to do other things.  Think about it in relation to BOM cost.  Your software no longer consumes 48% of the SoC.  So you get more for less.

So unless there is an EGL specific feature you need, i you use Vulkan.

[2022-09-16 13:02] munoz0raul commented on #191
Well, I'm using the iMX8MM-evk, it should be fine with vulkan. Let me get the error and past it here.

[2022-09-16 13:06] jwinarske commented on #190
I can bump meta-flutter.  Keep in mind AGL Needlefish is locked to 3.3.1.  Referencing something being on a channel such as `stable` represents a rolling tip of tree.  Having a rolling commit for a release is not desirable.

[2022-09-16 13:09] jwinarske commented on #191
Run `vulkaninfo` from vulkan-tools recipe.  Shared that output.

[2022-09-16 13:17] jwinarske commented on #190
Also the channel `error` is normal. It's just saying you're not on the latest (tip off tree) for that channel.

[2022-09-16 13:17] #190 closed

[2022-09-16 13:44] jwinarske commented on #191
As a minimum for Vulkan support you want these two included to your image:
[code]

[2022-09-16 14:28] munoz0raul commented on #191
On My distro, vulkan is not installed, I'm trying to understand what is better fo iMX8.

Looking to your build, it is also removed:

https://github.com/meta-flutter/meta-flutter/blob/kirkstone/.github/workflows/kirkstone-imx8mmevk.yml#L77

[2022-09-16 14:59] jwinarske commented on #191
I have no idea what state the Vulkan stack on imx8mmevk is, given I don't have hardware to test on.  If someone wants to donate a board I'm happy to look into it.

[2022-09-16 15:02] jwinarske commented on #191
It may just be the two missing recipes I referenced above.  If not `vulkantools` will highlight the issue.

[2022-09-16 15:27] jwinarske commented on #191
While you're at it you might want to add `strace`, as that comes in handy troubleshooting vulkan loader path resolution.

[2022-09-16 15:41] munoz0raul commented on #191
I have done strace already:

[code]

And I'm sure vulkan are not well installed:

[code]

I will check with my team as well, if they know something about it.

Thanks.

[2022-09-16 15:42] jwinarske commented on #191
In that run from above log was `vulkan-loader` present in the image?

[2022-09-16 18:33] jwinarske commented on #190
https://github.com/meta-flutter/meta-flutter/pull/192

[2022-09-17 00:50] bernardcraddock commented on #190
Rolling tip not desirable I can appreciate that, I should have  emphases my real issue is that qemu_run would launch a new window then immediately close it, I just assumed issue was flutter release related, but now I'm not so sure, perhaps its qemu related. I will try again today and advise regards

[2022-09-17 01:16] jwinarske commented on #190
You can set the bash debug flag in setup_env.sh and examine the output.

Are you running from a container?  It may require custom tailored qemu flags.  I've not tried that.

[2022-09-18 09:57] bernardcraddock commented on #190
Working thank you i had 2 issues

1. Multiple flutter installs
The original snap flutter install was conflicting  with new meta-flutter/tools/flutter install once i separated those setup_flutter_workspace.py ran correctly

2. invalid kvm args  launching qemu-system-x86_64
whilst debugging setup_env I realised i hadn't yet enabled kvm on my mac  so removed kvm  options
 "-enable-kvm -cpu kvm64"  an

[2022-09-20 22:06] jwinarske commented on #190
There are cases of conflict:
1.  Running script from terminal in VS Code which has Flutter tools enabled.  The Flutter tools has a file watcher running, and post repo clone will attempt to runs hooks using a mis-matched SDK version.  The workaround here is to close any IDE with Flutter tools, and run `setup_flutter_workspace.py` from a fresh terminal window.
2.  Multiple instances of `flutter` in

[2022-09-21 12:09] munoz0raul commented on #191
There is no Vulkan support for 8M Mini.
https://github.com/Freescale/meta-freescale/issues/1216

[2022-09-21 12:09] #191 closed

[2022-09-30 06:08] gencay3535 commented on #176
So have you tried flutter on NXP iMX8M-mini or iMX8M-plus? If you tried how was the performance and I don't see vulkan for them so would that create a problem?

[2022-10-10 15:54] camaronut opened #204 "imx6sx runtime error - Illegal instruction"
Hi there,

First off, thank you for creating this framework!  It has helped us to get flutter up on our imx6sx target very quickly.  We are currently doing an R&D evaluation comparing QT and Flutter.  We are using the dunfell branch of meta-flutter.  We need to do this evaluation in dunfell for "apples-to-apples" comparisons to our already established QT environment.

Our target board is an imx6sx

[2022-10-10 16:36] camaronut opened #205 "gallery: issue with font loading"
Hi there,

This issue follows "on the heels" of https://github.com/meta-flutter/meta-flutter/issues/204.

When attempting to run the gallery app, we get errors regarding font loading:
[code]
The app appears to continue to run, however nothing changes on the screen (still shows the weston background).

I checked /usr/share/flutter/gallery on the target and there's plenty of "*.ttf" files, including

[2022-10-10 17:50] jwinarske commented on #204
@camaronut You're welcome.  Yeah that's rough.

What floating point hardware support does the imx6sx part have?

Are you using default package config options?  Which would be Dart SDK prebuilt.  I wonder if trying no pre-built dart SDK has an effect.

[2022-10-10 17:52] jwinarske commented on #205
What does the bundle folder layout look like?  As-is generated by meta-flutter `dunfell` or manually created?

[2022-10-11 13:12] gencay3535 opened #206 "Unable to fetch URL from any source.', 'gn://github.com/flutter/engine.git;name=src/flutter'"
Hello,

I am trying to build a imx-image-core with i.MX8MP but I got this error for the flutter-engine-runtimerelease.
What kind of fetcher is **gn** at the recipe flutter-engine_git.bb?
Am I missing something other than configuration files from the workflow for i.MX8MM?

Log file is attached. Thank you in advance.

[mylog.LOG](https://github.com/meta-flutter/meta-flutter/files/9756119/mylog.LOG)

[2022-10-11 14:26] jwinarske commented on #204
For building an AOT you want `flutter-engine-runtimerelease-sdk-dev` installed in your SDK.  It installs to TARGET ${datadir}/flutter/engine_sdk.zip which has the required host side tool to build an AOT.

[2022-10-11 14:32] jwinarske commented on #206
fetcher `gn` caches a gclient enlistment to the DL_DIR using `depot-tools`.

What branch/commit?
Are you overriding `FLUTTER_SDK_TAG`?

I am not hitting this error in `kirkstone` branch CI.

[2022-10-12 13:59] camaronut commented on #205
Hi Joel,

Here's a look at the usr/share/flutter/gallery folder in the rootfs.  It is as-is generated by meta-flutter/yocto, no modifications to the gallery recipe.
[code]
Thanks!
Chris

[2022-10-12 14:24] camaronut commented on #204
Hi Joel,

Adding ``flutter-engine-runtimerelease-sdk-dev`` to the SDK works!  Thanks for that nugget!

I still need to experiment with the non-pre-built dart SDK.
Thanks,
Chris

[2022-10-12 18:45] camaronut commented on #204
I created a quick .bbappend with this line:
PACKAGECONFIG_remove = " prebuilt-dart-sdk"

I then reverted my local change to flutter-app.bbclass that provided the "--no-use-integer-division" flag.  I then re-built the flutter apps using bitbake.  Same result when running: Illegal instruction.

Let me know if you'd like me to try something else, thanks!
Chris

[2022-10-12 22:27] jwinarske commented on #205
What branch are you on?

[2022-10-12 22:36] camaronut commented on #205
dunfell

[2022-10-12 22:42] jwinarske commented on #204
So ultimately this resolves around passing the proper compiler tuning for the Dart SDK.  Two things you would want to know:
1.  Yocto machine tune parameters passed to engine recipe.  Assignment happens here with python function to derive:
  https://github.com/meta-flutter/meta-flutter/blob/kirkstone/recipes-graphics/flutter-engine/flutter-engine_git.bb#L113-L116
2. what does the Dart SDK support

[2022-10-12 22:46] jwinarske commented on #205
The bundle format is correct.  Does your build have a default linguas/locale setup?  I haven't smoke tested a dunfell build in a while, and will look into doing this in the next day or so.

[2022-10-13 13:35] gencay3535 commented on #206
Hello, Thank you for your response.

My reference was workflow at Kirkstone Branch.
I am not overriding `FLUTTER_SDK_TAG`
I also have this kind of warning I dont know if it matters.

`WARNING: depot-tools-native-git-r0 do_populate_sysroot: File '/home/gencay/NXP_workspace/build/tmp/work/x86_64-linux/depot-tools-native/git-r0/recipe-sysroot-native/usr/share/depot_tools/ninja-linux64' from depot-too

[2022-10-13 13:55] camaronut commented on #205
Hi Joel,

We set IMAGE_LINGUAS = " " in our image recipe.  I don't see any mention of GLIBC_GENERATE_LOCALES in our layer either.  Would it help if we did set it to something meaningful?
Thanks!
Chris

[2022-10-13 14:24] jwinarske commented on #205
Hi Chris,

Of you're trying to run the gallery app as-is, it's know to work in all the CI images.  So I would rule out the image has an installed language, timezone, and locale set.

See this CI for a minimum example:
https://github.com/meta-flutter/meta-flutter/blob/kirkstone/.github/workflows/kirkstone-imx8mmevk.yml#L74

Also running `localectl` on target should return values that match what are

[2022-10-13 14:27] jwinarske commented on #206
You can ignore the warning.

To get unblocked try setting `FLUTTER_SDK_TAG` to 3.3.3 in your local.conf.  There's a upstream issue, but it's unclear why my CI isn't hitting it.  It will go away with roll to 3.3.5.

[2022-10-19 14:08] gencay3535 commented on #206
Hello, thank you for your response.

I was able to built an i.mx6 image, the error for the flutter-engine resolved with only building recipe: `bitbake flutter-engine_runtimerelease` However some other recipes, I couldn't built due to do_unpack error so I removed some of them. Here is my current local.conf:

`MACHINE ??= 'imx6sxsabresd'
DISTRO ?= 'fsl-imx-wayland'
PACKAGE_CLASSES ?= 'package_rpm'
E

[2022-10-20 03:49] jwinarske commented on #206
@gencay3535 You're now hitting https://github.com/meta-flutter/meta-flutter/issues/204

He offers a short term work around.

[2022-10-20 03:53] jwinarske commented on #206
Ultimately to solve the illegal instruction with vfp+neon enabled requires some digging.  I'm suspecting Dart SDK build either with parameter passing or patching source tree.  A complete stack trace would be helpful, which requires a hand built engine debug build; non-stripped with symbols.

[2022-10-20 23:57] jwinarske commented on #206
@gencay3535 Weston should be setup to run under a user session.  Given the issue no longer matches the title of the bug I am closing this issue.  Feel free to open an issue if there is an issue with meta-flutter.

[2022-10-20 23:57] #206 closed

[2022-10-24 13:33] ratara opened #208 "gallery app build error after migration from dunfell to kirkstone"
Hi,
I migrated my build from dunfell to kirkstone and everything is back working now besides the gallery app.

I am using the latest commit of the meta-flutter repository for the kirkstone branch and got this error message. Since today I got no trouble with building the gallery-app.

Do you have any ideas what I am missing here?

![grafik](https://user-images.githubusercontent.com/46249856/1975379

[2022-10-24 14:24] jwinarske commented on #208
Did you try this?
[code]

[2022-10-25 06:31] ratara commented on #208
@jwinarske
I'm feeling a little goofy now but this worked.
Apparently, clean and cleanall was not enough. Learned something again. Thanks very much!

[2022-10-25 13:46] jwinarske commented on #208
@ratara NP

[2022-10-26 15:58] ardera opened #209 "Remove path patches for flutter-pi"
I just merged https://github.com/ardera/flutter-pi/pull/290, you can now enable the meta-flutter filesystem layout in flutter-pi by configuring with `cmake ... -DFILESYSTEM_LAYOUT=meta-flutter ...`.

So https://github.com/meta-flutter/meta-flutter/blob/kirkstone/recipes-graphics/flutter-pi/files/0001-path-updates.patch is no longer necessary (and will probably also fail to apply now)

[2022-11-01 04:35] jwinarske commented on #209
@ardera That's great, thanks.  I'll take a look in a few days.

[2022-11-22 10:54] martinburkot commented on #204
Hello,
I would like to ask if there is any development on this issue? I've run int the same issue and I would like to use the dunfell branch from the repo without having to manually add --no-use-integer-division into the flutter-app.bbclass.
I am new to yocto but if I understand it correctly it is not a good practice to override the .bbclass files.
Thank you, Martin.

[2022-11-22 13:58] camaronut commented on #204
Hi Martin, Joel,

The good news is that our flutter evaluation went flawlessly, so much so
that the next project will be ditching QT and using Flutter.  The bad news
is that after the evaluation I was put on a project revolving around parts
sourcing issues.

I'd expect I'll be back on the Flutter in Yocto side of things at the end
of December or early January.

Thanks!
Chris

On Tue, Nov 22, 2022

[2022-11-24 15:23] bernardcraddock opened #220 "More Apps with Workspace Automation"
Hi @jwinarske ,

Just a couple of things if i may

1. workspace automation's flutter_workspace_config.json  we seem to be very limited on what apps are being included
Therefore would it be possible to extend this and add a few more, and i was specifically thinking the flutter-test apps in
recipes-graphics.

ped-vm /home/parallels/Documents/GitHub/meta-flutter /recipes-graphics/flutter-apps/
  flut

[2022-11-24 15:37] jwinarske commented on #220
Sure I'll add all the test apps.

I have kuksa present in the QEMU x86_64 and arm64 builds.  They run the AGL kuksa enabled apps.

[2022-11-24 16:11] ardera commented on #209
Closing because #210 #211 #212 were merged

[2022-11-24 16:11] #209 closed

[2022-11-25 12:11] bernardcraddock commented on #220
@jwinarske  thank you  appreciated

Concerning kuksa in QEMU x86_64 and arm64 builds, that sounds really interesting and i  think i can benefit from it but not sure how! . Can we bring the GSoc flutter kuksa apps across to workspace automation so as i can run and test as that will be perfect provide me a big boost to my kusa learning curve.

If true and you're happy to do so, do you need me to cre

[2022-11-25 15:46] jwinarske commented on #220
If you look at the change lists on AGL you may find the required config/setup.  The config for each app gets written to /etc/xdg/AGL IIRC.  Sensitive data should really only be accessed through the secret plugin...

[2022-11-26 04:00] ardera opened #221 "AttributeError: 'BBLogger' object has no attribute 'debug2'"
I'm running into this error with latest dunfell meta-flutter:
[code]

Seems to be caused by commit 18581e6f392bf8de3a605c4a8bb3891aee5df8db. (It changed `logger.debug(2, ...)` to `logger.debug2` in the gn.py)

[2022-11-26 04:10] jwinarske commented on #221
I believe there's a fix for that in kirkstone.  Allows running with debug flag.

[2022-11-28 13:34] martinburkot opened #222 "Unable to load asset: AssetManifest.json"
Hello,
I am using a dunfell branch and it seems that the flutter apps are unable to load its assets. I've created simple flutter app containing just one picture and I try to run it, but I always get the "Unable to load asset" exception. I think that the flutter is unable to see its assets, but I don't know why. When I try to run the "flutter_animated_background" app from the "flutter-apps" recipes

[2022-11-28 13:35] martinburkot commented on #205
Hello,
please see the issue #222 as it seems to have the same root cause as this one.
BR Martin

[2022-11-29 08:24] martinburkot commented on #222
Hello,
I tried
`/usr/bin/flutter-client --b=/usr/share/flutter/img_example --f`
and i got:
`Not found option: b`
So i tried:
`/usr/bin/flutter-client --bundle=/usr/share/flutter/img_example -f`
And I got:
[code]
So I tried:
`/usr/bin/flutter-client --bundle=/usr/share/flutter/img_example/lib -f`
And I got the same exception:
[code]
I also tried it without the fullscreen argument and the exception

[2022-11-29 14:25] jwinarske commented on #222
`flutter-client` ?  Which embedder are you using?

[2022-11-29 14:57] martinburkot commented on #222
Hello,
`flutter-client` is added to /usr/bin when I add the recipe `flutter-wayland-client` to the build. I am new to yocto so I hope this is the answer for your question.

BR, Martin

[2022-11-29 15:24] jwinarske commented on #222
`--b=` is only an option with `homescreen` or `flutter-auto`.  You might consider using `flutter-auto`, as I don't regularly test the Sony embedders.  `flutter-auto` is part of Automotive Grade Linux` and I am publishing a fair amount of info of how to work with it

https://ossjapan2022.sched.com/event/1D11L

[2022-11-29 16:45] jwinarske commented on #221
@ardera See if reverting this on `dunfell` helps:
https://github.com/meta-flutter/meta-flutter/commit/80728ca8206ae8f68728880257581e43a1ff4582

[2022-11-30 04:39] WAKazuyoshiAkiyama commented on #221
@jwinarske We faced on the same error.
Replacing `debug2` with `debug`, we could solve the error.
So, reverting https://github.com/meta-flutter/meta-flutter/commit/80728ca8206ae8f68728880257581e43a1ff4582 is required for `dunfell` branch.

[2022-11-30 04:42] WAKazuyoshiAkiyama commented on #221
https://git.yoctoproject.org/poky/tree/bitbake/lib/bb/__init__.py?h=dunfell#n84
In dunfell, `debug2` is not implemented.

https://git.yoctoproject.org/poky/tree/bitbake/lib/bb/__init__.py?h=kirkstone#n50
In kirkstone, `debug2` is implemented.

[2022-11-30 04:44] jwinarske commented on #221
@WAKazuyoshiAkiyama thanks for the confirmation.

[2022-11-30 12:38] martinburkot commented on #222
Hello,
I tried to use the `ivi-homescreen` and the `flutter-auto`, but I am unable to compile it on the dunfell branch.

[code]

BR Martin

[2022-11-30 14:30] jwinarske commented on #222
@martinburkot it looks like `vulkan` is present in your `DISTRO_FEATURES`, as it defaults to the Vulkan backend if this is the case.  Is this intentional?  I know the NXP BSP incorrectly adds `vulkan` even when the machine doesn't actually support Vulkan.  What's the SoC?

[2022-11-30 15:51] jwinarske commented on #221
0ca204fd23e4c15fe9fed189d21cbb6af0895241 fixes this.

[2022-11-30 15:51] #221 closed

[2022-11-30 15:52] jwinarske commented on #220
@bernardcraddock I'm waiting for the CES dust to settle, then I will have a few consolidations.